<style>
#tablesorter {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tablesorter td, #tablesorter th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablesorter tr:nth-child(even){background-color: #f2f2f2;}

#tablesorter tr:hover {background-color: #ddd;}

#tablesorter th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #918e8a;
  color: white;
}
.tabsort #nav{
	text-align: center;
}
.tabsort .active {
	color: #ffb129;
	font-size: 22px;
}
</style>
<?php
$website = $this->getRequest()->getParam('website');
$fromDate = strtotime($this->getRequest()->getParam('from'));
$toDate = strtotime($this->getRequest()->getParam('to'));
$transactions = $this->getAllTransactions();
$ordersTransations = [];
foreach ($transactions as  $transaction) {
	/*echo "<pre>";
  print_r($transaction->getData());*/

	$order_id = $transaction['order_id'];
	$ordersTransations[$order_id][] = $transaction['txn_type'];
	//print_r($transaction->gettablesorter());
}
//print_r($ordersTransations);
?>
<div class="container tabsort">
  <table class="table tablesorter" id="tablesorter">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Store Name</th> 
        <th>Website Name</th> 
        <th>Created At</th>
        <th>Transaction Types</th>        
      </tr>
    </thead>
     <tbody>
    <?php
foreach ($ordersTransations as $orderId => $txn_type) {
	
	 $order = $this->getOrder($orderId);
   $store_view_name = $order->getStore()->getName(); // Store view name of order.
   $web_site_name = $order->getStore()->getWebsite()->getName(); // Website name of order.
   $strTimeOrderData = strtotime($order->getCreatedAt());
   if($website != ''){
    if($web_site_name != $website) continue;
   }
   if($fromDate && $toDate){
      if ($strTimeOrderData < $fromDate) {
        continue;
      }
      if ($strTimeOrderData > $toDate) {
        continue;
      }      
   }
	if(!in_array('capture', $txn_type)){
		$txntypes = implode(',', $txn_type);
		echo "<tr>";
		echo "<td>".$order->getIncrementId()."</td>";
    echo "<td>".$store_view_name."</td>";
    echo "<td>".$web_site_name."</td>";
        echo "<td>".$order->getCreatedAt()."</td>";
        echo "<td>".$txntypes."</td>";
        
        echo "</tr>";
		//print_r($txn_type);
	}
}
    ?>
  </table>
</div>

<script type="text/javascript">
						require([
							'jquery'							
						], function ($) {
							 $('#tablesorter').after ('<div id="nav"></div>');  
        var rowsShown = 20;  
        var rowsTotal = $('#tablesorter tbody tr').length;  
        var numPages = rowsTotal/rowsShown;  
        for (i = 0;i < numPages;i++) {  
            var pageNum = i + 1;  
            $('#nav').append ('<a href="#" rel="'+i+'">'+pageNum+'</a> ');  
        }  
        $('#tablesorter tbody tr').hide();  
        $('#tablesorter tbody tr').slice (0, rowsShown).show();  
        $('#nav a:first').addClass('active');  
        $('#nav a').bind('click', function() {  
        $('#nav a').removeClass('active');  
       $(this).addClass('active');  
            var currPage = $(this).attr('rel');  
            var startItem = currPage * rowsShown;  
            var endItem = startItem + rowsShown;  
            $('#tablesorter tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).  
            css('display','table-row').animate({opacity:1}, 300);  
        });  
						});
					</script>