<style type="text/css">
  <!--
    .product.info.detailed .product-tab-info-detail {
        display: block;
    }

    .product-content-page .m-50 {
        margin-top: 23px;
    }

    .product-content-page .iframeClass {
        width: 700px;
        height: 500px;
    }

    .pd-0 {
        padding: 0;
    }
    .pd-40 {
        padding-top:40px;
    }
    .w-100 img {
        width: 100%;
    }
    .m-550{
    margin-top:50px;
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .box {
        position: relative;
        display: inline-block;
        /* Make the width of box same as image */
    }

    .box .text {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        right: 6%;
        text-align: left;
        top: 12%;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        width: 42%;
        padding: 23px;
        font-size: 1.4rem;
        display: none;
        /*min-height: 300px;*/
    }
    .box .text2 {
        left: 6%;
        right: unset;
    }
    .box .text h4 {
        font-size: 1.6rem;
        color: #fff;
        margin-bottom: 10px;
    }
    .box .text p {
        color: #fff;
    }
    .catalog-product-view .content .wireless-chargers .section .box p {
        color: #fff !important;
    }
    .reveal {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .reveal:not(.reveal-loaded) * {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    }

    .reveal:not(.reveal-loaded) *:nth-child(2) {
    display: none;
    }

    .reveal-img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    }

    .reveal-img:nth-child(2) {
    position: absolute;
    }

    .reveal-bar {
    position: absolute;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    cursor: ew-resize;
    touch-action: none;
    }

    .reveal-grabber {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
    left: -25px;
    border: 1px solid white;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    }

    .reveal-arrows {
    position: relative;
    top: 15%;
    font-size: 22px;
    color: white;
    text-align: center;
    }
    .reveal-arrows img {
      width: 21%;
    }
    .border-bottom {
      display: inline-block;
      width: 100%;
      position: relative;
      padding: 20px 0;
      border-bottom: 1px solid #bfbfbf;
    }
    .w-50 {
      width: 50%;
    }
    .section3.section {
        padding-top: 40px;
    }

    @media only screen and (max-width: 700px) {
        .box .text {
            display: none;
        }

        .box img {}
    }

    @media only screen and (max-width: 1025px) {
        .product.info.detailed .product-tab-info-detail .product-tab-data div[class*="overview-"]>div {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 1000px) {
        .product-content-page .vertical-middle {
            padding-bottom: 20px;
        }
    }
    -->
</style>
<?php
$_product = $this->getProduct();
$video_url = $_product->getData('video_url');
$big_image1 = $_product->getData('big_image1');
$big_image1_overlay = $_product->getData('big_image1_overlay');

$big_image2 = $_product->getData('big_image2');
$big_image2_overlay = $_product->getData('big_image2_overlay');

$section1_image = $_product->getData('section1_image');
$section1_header = $_product->getData('section1_header');
$section1_content = $_product->getData('section1_content');


$section1_header2 = $_product->getData('section1_header2');
$section1_content2 = $_product->getData('section1_content2');


$section2_image = $_product->getData('section2_image');
$section2_header = $_product->getData('section2_header');
$section2_content = $_product->getData('section2_content');

$section2_header2 = $_product->getData('section2_header2');
$section2_content2 = $_product->getData('section2_content2');

$section3_image = $_product->getData('section3_image');
$section3_header = $_product->getData('section3_header');
$section3_content = $_product->getData('section3_content');

$section3_header2 = $_product->getData('section3_header2');
$section3_content2 = $_product->getData('section3_content2');

$image_before = $_product->getData('image_before');
$image_after = $_product->getData('image_after');
?>
<div class="product-content-page ">
  <div class="wireless-chargers">
  <div class="container">
   <?php if($video_url){?>
    <section class="section1 section">
      <div class="row text-center">
        <div class="col-sm-8 pd-0">
          <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="<?php echo $video_url; ?>" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
        </div>
      </div>
    </section>
  <?php } ?>
   <section class="section3 section">
        <?php if($_product->getData('video_content')){?>
        <div class="row video-content">
            <div class="col-12 col-sm-12 mx-auto col-md-12 popup-col">
              <?php echo $_product->getData('video_content'); ?>
            </div>
        </div>
        <?php } ?>
    </section>
    <section class="section3 section">
      <div class="row text-center items">
        <div class="col-sm-6 item2"><img class="img-responsive" src="<?php echo $section1_image; ?>" alt="UP2QC10AWA-SGR" /></div>
        <div class="col-sm-6 item2 vertical-middle popup-col">
          <div class="text-left control-content">
          <div class="section-title">
            <h3 class=" "><?php echo $section1_header; ?></h3>
          </div>
          <div class="static-section">
            <p><?php echo $section1_content; ?></p>
            <h3 class=" pd-40"><?php echo $section1_header2; ?></h3>
            <p><?php echo $section1_content2; ?></p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section4 section">
      <div class="row m-50 text-center items ordered-row">
        <div class="col-sm-6 item2 vertical-middle popup-col order-2">
          <div class="text-left control-content">
          <div class="section-title">
            <h3><?php echo $section2_header; ?></h3>
          </div>
          <div class="static-section">
            <p><?php echo $section2_content; ?></p>
            <h3><?php echo $section2_header2; ?></h3>
            <p><?php echo $section2_content2; ?></p>
          </div>
          </div>
        </div>
        <?php if($section2_image) {?>
        <div class="col-sm-6 item2 order-1"><img class="img-responsive" src="<?php echo $section2_image; ?>" alt="" /></div>
    <?php } ?>
      </div>
    </section>
    <section class="section4 section">
      <div class="row m-50 text-center items ordered-row">
           <?php if($section3_image) {?>
        <div class="col-sm-6 item2 order-1"><img class="img-responsive" src="<?php echo $section3_image; ?>" alt="" /></div>
    <?php } ?>
        <div class="col-sm-6 item2 vertical-middle popup-col order-2">
          <div class="text-left control-content">
          <div class="section-title">
            <h3><?php echo $section3_header; ?></h3>
          </div>
          <div class="static-section">
            <p><?php echo $section3_content; ?></p>
            <h3><?php echo $section3_header2; ?></h3>
            <p><?php echo $section3_content2; ?></p>
          </div>
          </div>
        </div>
     
      </div>
    </section>
  </div>
  </div>
</div>




<meta name="google-site-verification" content="4H40O5A34KHC9ewJROsF27rjxScebO7vnIeuKdGXNig" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBXX2W8');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBXX2W8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript"> (function(c,l,a,r,i,t,y){ c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)}; t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i; y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y); })(window, document, "clarity", "script", "cz7qdh1tgb"); </script>

<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-79RYEG5NW3"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-79RYEG5NW3'); </script>

<!-- Global site tag (gtag.js) - Google Ads: AW-698701962 and Google Ads: AW-614684260 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-698701962"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-698701962');
  gtag('config', 'AW-614684260'); <!-- Conversion Name: Add to Cart, Conversion ID: 614684260 -->
</script>

<script type="text/javascript">
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
console.log("google event fired");
  gtag('event', 'conversion', {
      'send_to': 'AW-614684260/_flmCLmZ_NEDEOSsjaUC',
      'value': 1.0,
      'currency': 'USD',
      'event_callback': callback
  });
  return false;
}
</script>

<style>

.lc-summary.t-right ul li {
    direction: rtl;
}
.lc-summary.t-right ul {
    padding-right: 20px;
}
.blog-desc {
    min-height: 360px;
}

@media only screen and (max-width: 1024px) {
.blog-desc {
    min-height: 410px;
}
}
@media only screen and (max-width: 991px) {
    .blog-desc {
    min-height: 450px;
}
.lc-summary.t-right ul li {
    direction: ltr;
    text-align: left;
}
}
@media only screen and (max-width: 768px) {
.blog-desc {
    min-height: 410px;
}
}
@media only screen and (max-width: 480px) {
.blog-desc {
    min-height: auto;
}
}
</style>

<!-- Meta Pixel Code --> 

<script> 

!function(f,b,e,v,n,t,s) 

{if(f.fbq)return;n=f.fbq=function(){n.callMethod? 

n.callMethod.apply(n,arguments):n.queue.push(arguments)}; 

if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; 

n.queue=[];t=b.createElement(e);t.async=!0; 

t.src=v;s=b.getElementsByTagName(e)[0]; 

s.parentNode.insertBefore(t,s)}(window, document,'script', 

'https://connect.facebook.net/en_US/fbevents.js');


if(window.location.pathname != '/us/clarity' && !window.location.pathname.includes('/id/7012')){
    fbq('init', '628714955254721');
    fbq('track', 'PageView'); 

    fbq('init', '634235148122890');
    fbq('track', 'PageView');

    fbq('init', '634235148122890');
    fbq('track', 'PageView');

    fbq('init', '3242960532610124');
    fbq('track', 'PageView');
}
if(window.location.pathname == '/us/clarity' || window.location.pathname.includes('/id/7012')){
    fbq('init', '584406723231761');
    fbq('track', 'PageView'); 
}
</script>

<noscript><img height="1" width="1" style="display:none" 

src="https://www.facebook.com/tr?id=628714955254721&ev=PageView&noscript=1" 

/></noscript>
<noscript><img height="1" width="1" style="display:none" 

src="https://www.facebook.com/tr?id=634235148122890&ev=PageView&noscript=1" 

/></noscript>

<noscript><img height="1" width="1" style="display:none" 

src="https://www.facebook.com/tr?id=634235148122890&ev=PageView&noscript=1" 

/></noscript>
<noscript><img height="1" width="1" style="display:none" 

src="https://www.facebook.com/tr?id=584406723231761&ev=PageView&noscript=1" 

/></noscript> 

<noscript><img height="1" width="1" style="display:none" 

src="https://www.facebook.com/tr?id=3242960532610124&ev=PageView&noscript=1" 

/></noscript>
<!-- End Meta Pixel Code --> 