<form action="<?php echo $block->getActionUrl(); ?>" class="question-form" method="post" id="question-form-popup" data-role="question-form-popup" data-mage-init='{"validation":{}}' onsubmit="return validateRecaptcha()">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="type" value="1" />
    <fieldset class="fieldset question-fieldset">
        <div class="field question-field-name required">
            <label for="name_field" class="label"><span><?php echo __('Full Name');?></span></label>
            <div class="control">
                <input type="text" name="author_name" id="author_name" class="input-text" data-validate="{required:true}" aria-required="true" placeholder="<?php echo __('Full Name');?> (<?php echo __('required');?>)" />
            </div>
        </div>
        <div class="field question-field-email required">
            <label for="email_field" class="label"><span><?php echo __('Email');?></span></label>
            <div class="control">
                <input type="text" name="author_email" id="author_email" class="input-text" data-validate="{required:true, 'validate-email':true}" aria-required="true" placeholder="<?php echo __('Email to get feedback');?> (<?php echo __('required');?>)" />
            </div>
        </div>
        <div class="autocomplete-faq">
            
       
<?php echo $this->getLayout()
            ->createBlock('Godogi\SearchAutocomplete\Block\SearchAutocomplete')
            ->setTemplate('Godogi_SearchAutocomplete::search/autocomplete.phtml')
            ->toHtml();
            ?>
        </div>    
        <div class="field question-field-detail required">
            <label for="detail_field" class="label"><span><?php echo __('Question');?></span></label>
            <div class="control">
                <textarea cols="5" rows="4" name="detail"></textarea>
            </div>
        </div>

        <div class="field question-field-captcha required">
            <div class="control">
                <div class="captcha">
                    <div id="g-recaptcha1" style="display: inline-block;" class="captcha1"></div>
                    <div style="display: inline-block;" class="captcha1">By submitting your question you have authorised us to freely include your question as part of our webpage, and are free to use it as needed.
                        <p style="margin-top: 30px;">*Required</p>
                        <p>** If question is not related to any product please click on the check box</p>
                    </div>
                </div>
                <span id="captcha-required1" style='display:none; color:#ff0000'>Please Fill Recaptcha To Continue</span>
            </div>
        </div>
        <div class="actions-toolbar question-form-popup-actions">
            <button type="submit" class="btn action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('POST YOUR QUESTION') ?></span>
            </button>
        </div>
    </fieldset>
</form>
 <script type="text/javascript">
             function validateRecaptcha() {
          
            if (grecaptcha.getResponse() != "") {
                document.getElementById("captcha-required1").style.display = "none";
                console.log("true");
                return true;
            } else {
                document.getElementById("captcha-required1").style.display = "block";
                console.log("false");
                return false;
            }
          
            return true;
          
        }
</script>
