<?php 
    $catgories = $block->getCategories();
    $_outputhelper    = $this->helper('Magento\Catalog\Helper\Output');
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    
   
?>




<div class="js-quick-category owl-carousel">

    <?php foreach ($catgories as $_category) { 
         $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
        ?>
    <div class="col-xs-12">
      <div class="circle-box-items">
        <a title="<?php echo $_category->getName(); ?>" href="<?php echo $_category->getUrl() ?>"> <?php 

            $_imgHtml   = '';
            if ($_imgUrl = $_category->getNewImage()) {

            $_imgHtml = '<img alt="' . $_category->getName() . '" class="img-responsive" src="' . $_imgUrl . '" />';
            
             echo $_imgHtml;
}
      ?> </a>
     </div>
      <a class="circle-caption" href="<?php echo $_category->getUrl() ?>" title="<?php echo $block->escapeHtml($_category->getName()) ?>"><?php echo $block->escapeHtml($_category->getName()) ?></a>
    </div>
<?php } ?>

    
</div>