<div class="modal fade notify-window js-notify-window in" id="newsWindow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h1 class="modal-title">BE THE FIRST TO KNOW</h1>
                <h6 class="modal-sub-title">when this product is back in stock</h6>
            </div>
            <div class="modal-body">
                <form class="form notify-form" id="notify-form" method="post"
                      data-mage-init='{"validation":{"rules":{"firstname":{"required":true},"email":{"required":true,"validate-email":true}}}}'>
                    <input type="hidden" name="product_id">
                    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>">
                    <div class="notify-form-wrapper">
                        <div class="row">
                            <div class="col-sm-6 notify-window-col">
                                <div class="form-group">
                                    <label class="label" for="fName">First Name</label>
                                    <input id="fName" type="text" class="input-text" name="firstname" value=""
                                           data-validate='{"required":true}'>
                                </div>
                            </div>
                            <div class="col-sm-6 notify-window-col">
                                <div class="form-group">
                                    <label class="label" for="lName">Last Name</label>
                                    <input id="lName" type="text" class="input-text" name="lastname" value="">
                                </div>
                            </div>
                            <div class="col-sm-6 notify-window-col">
                                <div class="form-group">
                                    <label class="label" for="pNumber">Phone Number</label>
                                    <input id="pNumber" type="text" class="input-text" name="phone" value="">
                                </div>
                            </div>
                            <div class="col-sm-6 notify-window-col">
                                <div class="form-group">
                                    <label class="label" for="qtyNumber">Qty Required</label>
                                    <div class="counter-wrapper js-counter-wrapper ">
                                        <span class="counter-buttons minus">-</span>
                                        <input id="qtyNumber" type="text" class="input-text" name="qty" value="1">
                                        <span class="counter-buttons plus">+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 notify-window-col">
                                <div class="form-group">
                                    <label class="label" for="notifyEmail">Email Address</label>
                                    <input id="notifyEmail" type="text" class="input-text" name="email" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notify-window-btn">
                        <button id="notifySubmit" type="submit" title="Submit" class="action submit btn btn-primary">
                            <span>Submit</span>
                        </button>
                    </div>
                </form>

                <!-- After submit confirmation block -->
                <div class="notify-confirm hide">
                    <img src="/media/wysiwyg/Icons/notify-confirmation-icon.png"
                         class="notify-confirm-img img-responsive" alt="Notify Confirmation Icons">
                    <h6 class="notify-confirm-data">Thank you. You will be notified when the product is back in
                        stock</h6>
                    <a href="#" class="notify-confirm-link" data-dismiss="modal">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/validation'
        ], function ($, modal) {
            $(document).ready(function () {
                var notifyform = $('#notify-form');                
                $("a.js-notify-window").on('click', function () {
                    var productIdPopup = $(this).attr('data-productid');
                    $('#newsWindow').find('input[name="product_id"]').val(productIdPopup);
                    $('.notify-confirm').addClass('hide');
                    $('.notify-form').removeClass('hide');
                });
                $('.modal-footer').hide();
                $('#notifySubmit').on('click', function (e) {
                    e.preventDefault();
                    if (notifyform.validation('isValid')) {
                        $.ajax({
                            type: "POST",
                            url: BASE_URL + "/stockalerts/index/save",
                            data: $('form#notify-form').serialize(),
                            success: function (response) {
                                if (response['success']) {
                                    $('.notify-confirm').removeClass('hide');
                                    $('.notify-form').addClass('hide');
                                } else {
                                    alert(response['error']);
                                }
                            },
                            error: function () {
                                alert('Error! Something went wrong. Please try again later.');
                            }
                        });
                    }

                    return false;
                });

                $('.counter-wrapper .plus').click(function () {
                    if ($(this).prev().val() < 99) {
                        $(this).prev().val(+$(this).prev().val() + 1);
                    }
                });
                $('.counter-wrapper .minus').click(function () {
                    if ($(this).next().val() > 1) {
                        if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
                    }
                });


            });
        }
    );
</script>
