<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var \Magento\Framework\View\Element\Template $block */ ?>
<?php $_shipment = $block->getShipment() ?>
<?php
/* @var \Magento\Sales\Model\Order $_order */
$_order = $block->getOrder() ?>
<?php if ($_shipment && $_order) : ?>
    <?php $trackCollection = $_order->getTracksCollection($_shipment->getId()) ?>
    <?php if ($trackCollection) : ?>
        <br />
        <table class="shipment-track" width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                  <th align="left" style="font-size: 18px;border-bottom:1px solid #707070;padding-bottom:10px;margin-bottom:0;text-align:left;padding-top:40px;"><?= $block->escapeHtml(__('Shipped By')) ?></th>
                  <th align="right" style="font-size: 18px;border-bottom:1px solid #707070;padding-bottom:10px;margin-bottom:0;text-align:right;padding-top:40px;"><?= $block->escapeHtml(__('Tracking Number')) ?></th>
              </tr>
            </thead>
            <tbody>
            <?php foreach ($trackCollection as $_item) : ?>
                <tr>
                    <td align="left" style="font-size:16px;padding-top:10px;text-align:left;"><?= $block->escapeHtml($_item->getTitle()) ?>:</td>
                    <td align="right" style="font-size:16px;padding-top:10px;text-align:right;">
                        <a href="<?= $block->escapeUrl($block->getTrackingUrl()->getUrl($_item)) ?>" target="_blank" style="text-decoration:none;">
                            <?= $block->escapeHtml($_item->getNumber()) ?>
                        </a>
                    </td>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
    <?php endif; ?>
<?php endif; ?>
