<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */

//@codingStandardsIgnoreFile
?>
<?php $var = $block->getVarModel();?>
<table
    <?php echo $var->getHtmlAttribute('style', 'order_totals_table_style', "background-color: #ffffff; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"); ?>
    <?php echo $var->getHtmlAttribute('bgcolor', 'order_totals_table_bgcolor', '#ffffff'); ?>
    class="mteditor-bgcolor totals-bg"
    width="100%"  cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td height="15" colspan="3"><div style="font-size: 0; height: 0;">&nbsp;</div></td>
    </tr>
    <tr>
        <td width="2%" style="width: 2% !important;">&nbsp;</td>
        <td  align="right">
            <table class="totals-body"  border="0" width="100%" style="width:100%; max-width: 100%;"  cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <?php echo $block->getTotalsHtml(); ?>
                    </td>
                </tr>
            </table>
        </td>
        <td width="2%" style="width: 2% !important;">&nbsp;</td>
    </tr>
    <tr>
        <td height="5" style="height: 5px; font-size: 5px; line-height: 5px" colspan="3"><div style="font-size: 0; height: 0;">&nbsp;</div></td>
    </tr>
    <tr>
        <td height="1"
            <?php echo $var->getHtmlAttribute('style', 'order_totals_table_bottom_line_style', 'background-color: #e26a0a; font-size:1px; line-height:1px; height:1px;'); ?>
            <?php echo $var->getHtmlAttribute('bgcolor', 'order_totals_table_bottom_line_bg', '#e26a0a'); ?>
            class="mteditor-bgcolor item-line-color"
            colspan="3">&nbsp;</td>
    </tr>
</table>
