<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Sales\Block\Order\Email\Items */
?>
<?php $_creditmemo = $block->getCreditmemo() ?>
<?php $_order      = $block->getOrder() ?>
<?php if ($_creditmemo && $_order) : ?>
    <table class="email-items" width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="width:100% !important; max-width:600px !important;">
        <thead>
            <tr>
                <th class="item-info" style="font-size: 20px;padding: 10px; width: 60%; text-align: left; border-bottom-color: rgb(112, 112, 112); border-bottom-width: 1px; border-bottom-style: solid;">
                    <?= $block->escapeHtml(__('Items')) ?>
                </th>
                <th class="item-qty" style="font-size: 20px;padding: 10px; width: 20%; text-align: center; border-bottom-color: rgb(112, 112, 112); border-bottom-width: 1px; border-bottom-style: solid;">
                    <?= $block->escapeHtml(__('Qty')) ?>
                </th>
                <th class="item-price" style="font-size: 20px;padding: 10px; width: 20%; text-align: center; border-bottom-color: rgb(112, 112, 112); border-bottom-width: 1px; border-bottom-style: solid;">
                    <?= $block->escapeHtml(__('Subtotal')) ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_creditmemo->getAllItems() as $_item) : ?>
            <?php if (!$_item->getOrderItem()->getParentItem()) : ?>
                <tbody>
                    <?= $block->getItemHtml($_item) ?>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot class="order-totals">
            <?= $block->getChildHtml('creditmemo_totals') ?>
        </tfoot>
    </table>
<?php endif; ?>
