<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isRememberMeCheckboxVisible() -->
<div id="remember-me-box" class="field choice persistent custom-checkbox">
    <input type="checkbox" name="persistent_remember_me" class="checkbox" id="persistent_remember_me" data-bind="checked: isRememberMeCheckboxChecked, attr: {title: $t('Remember Me'), 'data-scope': dataS>
    <label for="persistent_remember_me" class="label"><span data-bind="i18n: 'Remember Me'"></span></label>
    <span class="tooltip wrapper">
        <strong class="tooltip toggle" data-bind="i18n: 'What\'s this?'"></strong>
        <span class="tooltip content" data-bind="i18n: 'Check \'Remember Me\' to access your shopping cart on this computer even if you are not signed in.'"></span></span>
</div>
<!-- /ko -->
