.browsecatalogs_image img {
    width:100%
}
.browsecatalogs .clearfix{
    clear:both;
}
.browsecatalogs_maindiv {
  width: 100%;
  height: 100%;
  position: relative;
}
.browsecatalogs_image,
.browsecatalogs_hovercontnet {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.browsecatalogs_hovercontnet {
  z-index: 10;
}
.container-browse {
  position: relative;

  @media (max-width: 767px) {
    margin: 0 0 30px;
    padding: 0 40px;
  }

  .infoi {
    position: relative;

    img {
      border-radius: 17px;
      border: 1px solid #ddd;
    }

    .infoi-overlay {
      display: none;
    }

    &:hover {
      .infoi-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        @media (max-width: 1023px) {
          align-items: end;
        }

        .hover_download {
          display: flex;
          align-self: flex-end;
          justify-content: center;
          text-align: center;
          width: 100%;

          .fa-download {
            color: #F8BE39;
            font-size: 35px;
          }
        }

        &-title {
          color: #fff;
          text-align: center;
          -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
          padding: 0 30px;

          @media (max-width: 1023px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.info2,
.navi {
  margin: 10px 0 0;
}

.info2 {
  width: 100%;
  height: 100%;
  color: #4d4d50;
  font-size: 14px;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

 .list-group .list-group-item{
    border: 0px !important;
    border-bottom: 0px !important;
    padding: 0 15px !important;
    z-index: 14;

    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
      float: none;
      margin: 0 -2px 30px -2px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }
}

.browsecatalogs-index-index .breadcrumbs {
    padding-top: 130px;
}
.browsecatalogs-index-index .page-title-wrapper {
    display:none;
}

.browsecatalogs h3{
    text-align: center;
    padding-bottom: 100px;
}

/* Animation Slide Forward */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* Animation Slide up */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
