<div class="faq-search text-left">
    <div class="equal-height">
        <div class="search__container">
        	<h5>QUESTIONS FOR SPECIFIC PRODUCTS</h5>
					<p>Have a question for a specific product? Type the item code below to find any relevant answers.</p>
          <input type="text" name="q" id="question_search" class="input-text search__input" data-validate="{required:false}" aria-required="false" autocomplete="off" placeholder="Type the Item code here" />
        </div>
    </div>
</div>

<script type="text/javascript">
require(['jquery', 'domReady!'], function($){

	var searchControlElement = $('.faq-search').first();

	searchControlElement.append('<div id="searchAutocomplete" style="display:none;"><ul></ul></div>');
	$('#search_autocomplete').remove();

	$('#question_search').unbind();
	$(window).click(function() {
		$('#searchAutocomplete').hide();
	});

	$('#question_search').bind('input', function(){

  		var searchInput = $(this);
	  	var searchInputValue = searchInput.val().replace("/^[a-zA-Z0-9 _-]+$/i", "");

	  	if(searchInputValue.length >=3){
	  		url = "<?php echo $this->getAjaxUrl(); ?>";
	  		$.ajax({
	           	type: "POST",
	           	url: url,
	           	data: {query: searchInputValue},
	           	success: function(data){

	           		var searchResultHtml = '';
	           		var size = Object.keys(data).length;
	           		for(let i=1; i<=size; i++){
	           			searchResultHtml += '<li data-url="'+data[i]['url']+'">';

	           			searchResultHtml += '<div class="sa-prop">';
		           			searchResultHtml += '<div class="sa-title"><p>'+data[i]['question_detail']+'</p></div>';

		           		searchResultHtml += '</div>';
	           			searchResultHtml += '</li>';
	           			$('#searchAutocomplete ul').first().html(searchResultHtml);
	           		}
	           		$( "#searchAutocomplete ul li" ).on( "click", function() {
	           			window.location.href = $(this).attr('data-url');
				  		//$('#question_search').val($(this).find('.sa-title p').html());
					});
	           		if(size > 0){
	           			$('#searchAutocomplete').show();
					}else{
						$('#searchAutocomplete').hide();
					}
				},
	            error: function (data) {
	                console.log(data);
	            }
	  		});
	  	}else{
	  		$('#searchAutocomplete').hide();
	  	}
	});
	$("#question_search").on("focus", function(){
    	var searchInput = $(this);
	  	var searchInputValue = searchInput.val().replace("/^[a-zA-Z0-9 _-]+$/i", "");
	  	if(searchInputValue.length >=3){
	  		url = "<?php echo $this->getAjaxUrl(); ?>";
	  		$.ajax({
	           	type: "POST",
	           	url: url,
	           	data: {query: searchInputValue},
	           	success: function(data){

	           		var searchResultHtml = '';
	           		var size = Object.keys(data).length;
	           		for(let i=1; i<=size; i++){
	           			searchResultHtml += '<li data-url="'+data[i]['url']+'">';

	           			searchResultHtml += '<div class="sa-prop">';
		           			searchResultHtml += '<div class="sa-title"><p>'+data[i]['question_detail']+'</p></div>';

		           		searchResultHtml += '</div>';
	           			searchResultHtml += '</li>';
	           			$('#searchAutocomplete ul').first().html(searchResultHtml);
	           		}
	           		if(size > 0){
	           			$('#searchAutocomplete').show();
					}else{
						$('#searchAutocomplete').hide();
					}
      				$( "#searchAutocomplete ul li" ).on( "click", function() {

	           			window.location.href = $(this).attr('data-url');
				  		//$('#question_search').val($(this).find('.sa-title p').html());
					});
				},
	            error: function (data) {
	                console.log(data);
	            }
	  		});
	  	}else{
	  		$('#searchAutocomplete').hide();
	  	}
	});

        $('.question-field-check').find('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                $('#question_search').attr('disabled', 'disabled');
            }
            else if($(this).prop("checked") == false){
                $('#question_search').removeAttr('disabled');
            }
        });
});
</script>
<style type="text/css">
	.question-field-detail {
    width: 100% !important;
    padding-right: 0px !important;
    padding-top: 15px;
}
.question-field-detail textarea{

    border-radius: 10px !important;
}
.question-field-detail input[type="checkbox"]{
   margin: 0 !important;
}

#question_search {
	display: inline-block;
	position: relative;
	left: unset;
}

#searchAutocomplete {
	position: absolute;
	top: 836px;
	border: 1px solid #222;
	background-color: white;
	width: 30%;
	left: 6%;
}
#searchAutocomplete button {
	margin: 10px;
}
#searchAutocomplete ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
#searchAutocomplete ul li {
	padding: 4px;
	border-bottom: 1px solid #cccccc;
	margin: 0;
	cursor: pointer;
}
#searchAutocomplete ul li:hover, #searchAutocomplete ul li:last-child:hover {
	border: 1px solid #cccccc;
}
#searchAutocomplete ul li:last-child {
    border-bottom: unset;
}
#searchAutocomplete .sa-image {
	display: inline-block;
	max-width: 30%;
}
#searchAutocomplete .sa-rating {
	margin-top: 10px;
}
#searchAutocomplete .sa-prop {
	display: inline-block;
	width: 70%;

}
#searchAutocomplete .sa-title {
	margin-top: 10px;
}
#searchAutocomplete .sa-price {
	margin-top: 10px;
	padding: 10px;
}

</style>
