<style type="text/css">
               
</style>
<?php
$items = $block->getProductCollection()->getItems();
?>

<?php

foreach ($items as $_product) {?>
	<div class="cl_ft_text">
	 <h2><?php echo 'CLARITY UHD 4K DISPLAY'; ?></h2>
	 <a class="" href="<?php echo $_product->getProductUrl(); ?>">Buy Now</a>
	</div>
<?php }?>
<script type="text/javascript">
         require(['jquery', 'mgs/owlcarousel'], function($) {
         $(document).ready(function() {
         var autoPlayVideo = document.getElementById("cl_myVideo");
         autoPlayVideo.oncanplaythrough = function() {
         autoPlayVideo.muted = true;
         autoPlayVideo.play();
         autoPlayVideo.pause();
         autoPlayVideo.play();
         };
		 var myvid = $('#cl_myVideo')[0];
					 $(window).scroll(function(){
					 var scroll = $(this).scrollTop();
					 scroll > 150 ? myvid.pause() : myvid.play() 
				});
         });
		 
         });
		 

      require(['jquery'], function ($) {
        $(document).ready(function () {            
      
          function isVisible($el) {
            var winTop = $(window).scrollTop();
            var winBottom = winTop + $(window).height();
            var elTop = $el.offset().top;
            var elBottom = elTop + $el.height();
            return ((elBottom <= winBottom) && (elTop >= winTop));
          }     
         



          $(window).scroll(function () {
            if (isVisible($("#anim-text1"))) {
              document.getElementById("anim-text1").classList.add("animate");
              document.getElementById("anim-text1").classList.add("fadeInDown");
              document.getElementById("anim-text1").classList.add("one");
            }
            if (isVisible($("#anim-text2"))) {
              document.getElementById("anim-text2").classList.add("animate");
              document.getElementById("anim-text2").classList.add("fadeIn");
              document.getElementById("anim-text2").classList.add("one");
            }
            if (isVisible($("#anim-text3"))) {
              document.getElementById("anim-text3").classList.add("animate");
              document.getElementById("anim-text3").classList.add("fadeInLeft");
              document.getElementById("anim-text3").classList.add("one");
            }     
            if (isVisible($("#anim-text4"))) {
              document.getElementById("anim-text4").classList.add("animate");
              document.getElementById("anim-text4").classList.add("fadeInLeft");
              document.getElementById("anim-text4").classList.add("one");
            }
			 if (isVisible($("#anim-text5"))) {
              document.getElementById("anim-text5").classList.add("animate");
              document.getElementById("anim-text5").classList.add("fadeInLeft");
              document.getElementById("anim-text5").classList.add("one");
            }
			if (isVisible($("#anim-text6"))) {
              document.getElementById("anim-text6").classList.add("animate");
              document.getElementById("anim-text6").classList.add("fadeInLeft");
              document.getElementById("anim-text6").classList.add("one");
            }
			if (isVisible($("#anim-text7"))) {
              document.getElementById("anim-text7").classList.add("animate");
              document.getElementById("anim-text7").classList.add("fadeInDown");
              document.getElementById("anim-text7").classList.add("one");
            }
			if (isVisible($("#anim-text8"))) {
              document.getElementById("anim-text8").classList.add("animate");
              document.getElementById("anim-text8").classList.add("fadeIn");
              document.getElementById("anim-text8").classList.add("one");
            }
			if (isVisible($("#anim-text9"))) {
              document.getElementById("anim-text9").classList.add("animate");
              document.getElementById("anim-text9").classList.add("fadeInLeft");
              document.getElementById("anim-text9").classList.add("one");
            }
            if (isVisible($("#anim-img1"))) {
              document.getElementById("anim-img1").classList.add("animate");
              document.getElementById("anim-img1").classList.add("fadeInRight");
              document.getElementById("anim-img1").classList.add("one");
              
            }
			  if (isVisible($("#anim-img2"))) {
              document.getElementById("anim-img2").classList.add("animate");
              document.getElementById("anim-img2").classList.add("fadeInDown");
              document.getElementById("anim-img2").classList.add("one");
              
            }
			  if (isVisible($("#anim-img3"))) {
              document.getElementById("anim-img3").classList.add("animate");
              document.getElementById("anim-img3").classList.add("fadeInUp");
              document.getElementById("anim-img3").classList.add("one");
              
            }
	
          });
        });
      });
    </script>  

