<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<div class="container">
	<div class="form-password-forget">
		<form class="form password forget"
			  action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
			  method="post"
			  id="form-validate"
			  data-mage-init='{"validation":{}}'>
			<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
				<div class="form-group email required">
					<label class="label"><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></label>
					<div class="control">
						<input type="email" placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email...') ?>" name="email" alt="email" id="email_address" class="input-text" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
					</div>
				</div>
				<?php echo $block->getChildHtml('form_additional_info'); ?>
			</fieldset>
			<div class="actions-toolbar margin-top15">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<button type="submit" class="action submit btn btn-outline"><span><?php /* @escapeNotVerified */ echo __('Reset My Password') ?></span></button>
					</div>
					<div class="col-sm-6 col-xs-12">
						<a class="action back btn btn-default btn-full" href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel') ?></span></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
