<?php
/**
 * PL Development.
 *
 * @category    PL
 * @author      Linh Pham <plinh5@gmail.com>
 * @copyright   Copyright (c) 2016 PL Development. (http://www.polacin.com)
 */
?>
<?php $jsonHelper = $this->helper('\Magento\Framework\Json\Helper\Data');?>
<?php $_info = $this->getInfo();?>
<dl class="payment-method">
    <dt class="title"><?php echo $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <dd>
        <?php
        if ($_info->getAdditionalInformation('payment_additional_info')):
            $paymentInfo = $jsonHelper->jsonDecode($_info->getAdditionalInformation('payment_additional_info'));
            ?>

            <?php if (isset($paymentInfo['sourceOfFunds.provided.card.brand'])):?>
            Card Type:<?php echo $paymentInfo['sourceOfFunds.provided.card.brand']?><br/>
        <?php endif;?>
            <?php if (isset($paymentInfo['sourceOfFunds.provided.card.nameOnCard'])):?>
            Name:  <?php echo $paymentInfo['sourceOfFunds.provided.card.nameOnCard']?><br/>
        <?php endif;?>
            <?php if (isset($paymentInfo['sourceOfFunds.provided.card.number'])):?>
            Credit Card Number:  <?php echo $paymentInfo['sourceOfFunds.provided.card.number']?><br/>
        <?php endif;?>
            <?php if (isset($paymentInfo['status'])):?>
            Status:  <?php echo $paymentInfo['status']?><br/>
        <?php endif;?>
            <?php if (isset($paymentInfo['id'])):?>
            Order ID: <?php echo $paymentInfo['id']?><br/>
        <?php endif;?>
        <?php endif;?>
    </dd>
</dl>