<?php

$items = $block->getProductCollection()->setPageSize(10)
    ->setCurPage(1)->getItems();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$image = 'product_base_image';
$thumnail = 'product_thumbnail_image';
$_hideCartHelper = $this->helper('Alogic\Customtheme\Helper\Data');
$isCartDisabled = $_hideCartHelper->getIsCartDisabled();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
 

<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offfset-1 col-sm-offset-1">
  <div class="featured-products slider-view owl-carousel">
<?php $i=0; foreach ($items as $_product): $i++; ?>

<?php 
$images = $objectManager->create('Magento\Catalog\Api\ProductAttributeMediaGalleryManagementInterface')
->getList($_product->getSku());

$productSwapImage = '';
foreach ($images as $image1) {
  $images_types = $image1->getData();
  if(in_array('trending_image', $images_types['types'])){

      $productSwapImage = $_imagehelper->init($_product, 'thumbnail')
                            ->setImageFile($images_types['file'])->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(400,400)
                            ->getUrl();
   
  }
   
 
}

?>
<?php $productImage = $_imagehelper->init($_product, $image)->resize(400, 400)->getUrl(); ?>
<?php $productThumbail = $_imagehelper->init($_product, $thumnail)->resize(400, 400)->getUrl(); ?>
   <div class="al_fe_products">
      <div class="al-flip-box">
        <div class="al-flip-box-inner">
          <div class="al-flip-box-front">
            <img class="img-responsive" src="<?php echo $productImage ?>" alt="<?php echo $_product->getName(); ?>" />
          </div>
          <div class="al-flip-box-back">
            <img class="img-responsive" src="<?php echo $productSwapImage ?>" alt="<?php echo $_product->getName(); ?>" />
          </div>
        </div>
        <!--a href="#" class="al_add_cart"><img src="https://sandbox.alogic.co/alogichtml/home/cssmag/images/addcart.png" alt=""></a-->
        <?php if (!$isCartDisabled){ ?>
                  <?php if ($_product->isSaleable()){ ?>
                            <div>                              
                              <?php $postParams = $block->getAddToCartPostParams($_product);?>
                              <form data-role="tocart-form" action="<?php /* @escapeNotVerified */echo $this->getUrl('checkout/cart/add', ['uenc' => $postParams['data']['uenc'], 'product' => $postParams['data']['product']]); ?>" method="post">
                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */echo $postParams['data']['product']; ?>">
                                <input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */echo $postParams['data']['uenc']; ?>">
                                <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
                                <button class="al_add_cart" type="submit" title="<?php /* @escapeNotVerified */echo __('Add to Cart') ?>">
                  <img src="https://sandbox.alogic.co/alogichtml/home/cssmag/images/addcart.png" alt="">
                                </button>
                              </form>
                            </div>
                          <?php }?>
                          <?php }?>
      </div>
      <div class="al_flip_desc">
        <?php if (!$isCartDisabled){ ?>
          <?php if ($_product->isSaleable()){ ?>
          <?php }else{ ?>
            <div class="notify-box">
              <div class="product alert notify-box-stock overriden">
                <a href="javascript:;" title="Notify me when this product is in stock" class="action alert js-notify-window" data-toggle="modal" data-target="#newsWindow" data-productid="<?php echo $_product->getId(); ?>">Notify me when this product is in stock</a>
              </div>
            </div>
          <?php }?>
        <?php }?>

          


        <h3>
          <?php
          
         
               $len = strlen($_product->getName());
               $productName = substr($_product->getName(),0,20);
               if($len > 20) {
                $productName .= '...';
               }
                                                    
          //$productName = strlen($productName) > 50 ? substr($productName,0,50)."..." : $productName; 
          ?>   
          <a href="<?php echo $_product->getProductUrl() ?>">     
            <?php echo $productName; ?>          
          
          </a>
        </h3>
        <p>Part Number: <?php echo $_product->getSku(); ?></p>
    
        <div class="al_pro_price"><?php echo $block->getProductPrice($_product) ?></div>
      </div>
    </div>
<?php endforeach ?>
</div>
</div>
</div>
<?php
  echo $block->getLayout()->createBlock(\Magento\Backend\Block\Template::class)
            ->setTemplate('Alogic_Customtheme::stockalert-popup.phtml')
            ->toHtml(); 
?>
<script type="text/javascript">
         require(['jquery', 'mgs/owlcarousel'], function($) {
             $(document).ready(function() {              

                $('.featured-products').owlCarousel({
                  items: 4,
                  nav: true,
                  dots: true,
                  rtl: RTL,
                  margin: 20,
                  touchDrag: false,
                  mouseDrag: true,
                  loop: false,
                  // autoHeight:true,
                  navText: ["<img src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMCAuNzU1bC0xNC4zNzQgMTEuMjQ1IDE0LjM3NCAxMS4yMTktLjYxOS43ODEtMTUuMzgxLTEyIDE1LjM5MS0xMiAuNjA5Ljc1NXoiLz48L3N2Zz4='>", "<img src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4='>"],
                  responsive: {
                    0: {
                      items: 1,
                      dots: true,
                      nav: false,
                      touchDrag: true,
                      mouseDrag: false,
                      margin: 10,
                    },
                    768: {
                      items: 2,
                      dots: true,
                      nav: false,
                      touchDrag: true,
                      mouseDrag: false,
                      margin: 10,
                    },
                    1024: {
                      items: 2,
                      nav: false,
                      dots: true,
                      margin: 10,
                    },
                    1200: {
                      items: 4,
                      dots: true,
                      nav: false,
                      touchDrag: true,
                      margin: 10,
                    }
                  }
                });


             });
         });
</script>