<?php

$url = $block->getUrl('*/*/*/');

if ($params = $this->getRequest()->getParams()) {
    $type = isset($params['type']) ? $params['type'] : 'month';
    $params['to'] = isset($params['to']) ? $params['to'] : date("Y-m-d");
    $params['from'] = isset($params['from']) ? $params['from'] : date("Y-m-d", strtotime("-1 month"));
    $endate = str_replace('.', '-', $params['to']);
    $startdate = str_replace('.', '-', $params['from']);
} else {
    $type = 'month';
    $startdate = date("Y-m-d", strtotime("-1 month"));
    $endate = date("Y-m-d");
}
$collection = $block->filterRmaCollection($type, 'created_at', $startdate, $endate)->getData();
$statusCollection = $block->getActiveStatus();
?>
<div class="filter">
    <label class="store-switcher-label"><?php echo __("From :"); ?></label>

    <input class="admin__control-select" name="datefrom" id="datefrom" value="<?php echo $startdate ?>" type="text">
    <label class="store-switcher-label"><?php echo __("To :"); ?></label>
    <input class="admin__control-select" name="dateto" id="dateto" value="<?php echo $endate ?>" type="text">

    <button type="button" id='filter'><?php echo __("Filter"); ?></button>

</div>
<script type="text/javascript">
    require([
        "jquery",
        "mage/calendar"
    ], function ($) {
        $('#datefrom').datepicker({
                prevText: '&#x3c;zurück', prevStatus: '',
                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                nextText: 'Vor&#x3e;', nextStatus: '',
                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                dayNamesShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                dayNamesMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                showMonthAfterYear: false,
                dateFormat: 'yy.mm.dd '
            }
        );
        $('#dateto').datepicker({
            prevText: '&#x3c;zurück', prevStatus: '',
            prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
            nextText: 'Vor&#x3e;', nextStatus: '',
            nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'],
            monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            dayNames: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            dayNamesShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            dayNamesMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            showMonthAfterYear: false,
            dateFormat: 'yy.mm.dd'
        });
        var t = $('#dateto').val();
        var fr = $('#datefrom').val();
        var type = $('select[name=selector]').val();
        $("#dateto").change(function () {
            t = $('#dateto').val();
        });
        $("#datefrom").change(function () {
            fr = $('#datefrom').val();
        });
        $('select[name=selector]').change(function () {
            type = $('select[name=selector]').val();
        });
        $("#filter").click(function () {
            window.location.href = '<?php echo $url ?>?from=' + fr + '&to=' + t + '&type=' + type;
        });
    });
</script>
<?php
$current_url = $this->getUrl('*/*/*', ['_current' => true]);
$current_url = preg_replace('/&?showchart=[^&]*/', '', $current_url);
?>
