<div class="actions-toolbar">
    <div class="primary">
        <button class="action btn btn-primary checkout btn-placeorder"
                type="submit"
                data-bind="
                enable: isPlaceOrderActionAllowed(),
                click: placeOrder,
                attr: {
                    title: placeOrderLabel()
                },
                css: {disabled: !isPlaceOrderActionAllowed()},
                fadeVisible: isVisible
                " disabled>
            <span data-bind="text: placeOrderLabel()"></span>
        </button>
    </div>
    <div class="continue-shop">
      <a href="/" class="btn btn-outline">Continue Shopping</a>
    </div>
</div>
