<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Base
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\Base\Block\Adminhtml\System\Config\Form\Color $block */ ?>
<span id="pr-jscolor" data-dir="<?= $block->getViewFileUrl('Plumrocket_Base/js') . '/' ?>"></span>
<script type="text/javascript">
    var prColorPathId = "<?= $block->getPathId() ?>";
    require(["jquery", "mage/mage"], function($) {
        $('#' + prColorPathId).mage('jscolor');
    });
</script>
