<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="al_newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <h2>KEEP UPDATED ON THE LATEST PRODUCTS</h2>
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail-footer">
          <div class="form-group">
            
        <input name="email" class="form-control" type="email" id="newsletter-footer"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
          </div>
          <button class="btn btn-primary" title="<?php /* @escapeNotVerified */ echo __('Sign up') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Sign up') ?></span>
                </button>          
        </form>
      </div>
    </div>
  </div>
</div>

