<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<form method="post" id="shipping-zip-form" class="ship-zip">
    <fieldset class="fieldset estimate">
        <legend class="legend hide">
            <span data-bind="text: isVirtual ? $t('Estimate Tax') : $t('Delivery') "></span>
        </legend>
        <p class="field note ship-zip-text" data-bind="text: isVirtual ? $t('Enter your billing address to get a tax estimate.') : $t('Enter your destination to get a shipping estimate.')"></p>
        <!-- ko foreach: getRegion('address-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>
</form>
