<?php
/** @var \Amasty\AdvancedReview\Block\Images $block */
$collection = $block->getCollection();

// phpcs:ignoreFile
?>
<?php $mediaUrl = $this->helper('Newsroom\Common\Helper\Data')->getMediaUrl(); ?>
<?php if ($collection->getSize()) : ?>
        <?php foreach ($collection as $item) : ?>
                    <div style="display: inline-block;">  
                        <img width="100" height="100" src="<?php echo $mediaUrl . $item->getImages(); ?>"> 
                        <input type="checkbox" name="presskit_remove_image[<?php echo $item->getImageId(); ?>]" value="1"/><span>Delete</span>             
                    </div>
        <?php endforeach; ?>
<?php endif;?>
