<form action="<?php /* @escapeNotVerified */ echo $block->getAction(); ?>" class="question-form" method="post" id="question-form-popup" data-role="question-form-popup" data-mage-init='{"validation":{}}' onsubmit="return validateRecaptcha()">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <fieldset class="fieldset question-fieldset">
        <div class="field question-field-name required">
            <!-- <label for="name_field" class="label"><span><?php echo __('Full Name');?></span></label> -->
            <div class="control">
                <input type="text" name="author_name" id="author_name" class="input-text" data-validate="{required:true}" aria-required="true" placeholder="<?php echo __('Full Name');?> (<?php echo __('required');?>)" />
            </div>
        </div>
        <div class="field question-field-email required">
            <!-- <label for="email_field" class="label"><span><?php echo __('Email');?></span></label> -->
            <div class="control">
                <input type="text" name="author_email" id="author_email" class="input-text" data-validate="{required:true, 'validate-email':true}" aria-required="true" placeholder="<?php echo __('Email to get feedback');?> (<?php echo __('required');?>)" />
            </div>
        </div>

        <div class="field question-field-detail required">
            <!-- <label for="detail_field" class="label"><span><?php echo __('Question');?></span></label> -->
            <div class="control">
                <textarea cols="5" rows="6" name="detail" placeholder="Type your question here"></textarea>
            </div>
        </div>

         <div class="captcha">
            <p>By submitting your question you have authorised us to freely include your question as part of our webpage, and are free to use it as needed.</p>
                <div class="g-recaptcha" data-sitekey="6LcLTSwcAAAAAB_XAggZmFsIMAJInEWBPV86nToh"
                         ></div>
                </div>
          <span id="captcha-required" style='display:none; color:#ff0000'>Please Fill Recaptcha To Continue</span>

        <div class="actions-toolbar question-form-popup-actions">

            <button type="submit" class="action submit btn btn-default">
                <span><?php /* @escapeNotVerified */ echo __('POST YOUR QUESTI
ON') ?></span>
            </button>
        </div>
    </fieldset>
</form>
 <script type="text/javascript">
             function validateRecaptcha() {

            if (grecaptcha.getResponse() != "") {
                document.getElementById("captcha-required").style.display = "none";
                return true;
            } else {
                document.getElementById("captcha-required").style.display = "block";
                return false;
            }

            return true;

        }
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
