<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        <?php echo $block->getGlobalCss(); ?>
    </style>

    <style type="text/css">
        {{var mtVar.getDesignCss($this)|raw}}
    </style>

    <style type="text/css">
        {{var template_styles|raw}}
    </style>

    {{var mtVar.getDesignHeadHtml($this)|raw}}
</head>
<body>
<?php echo $block->getContent();?>
</body>
</html>