<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
    $store = $storeManager->getStore();
    $mediaUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

  <div class="support-page-footer">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-5 col-xs-6">
        <div class="support-footer-data">
          <a href="<?php echo $this->getUrl('contact-us'); ?>" title="Support Email"><img src="<?php echo $mediaUrl; ?>email.png" alt="Support Email" /></a>
        </div>
      </div>
      <div class="col-sm-2 col-md-1 col-xs-6 ">
        <div class="support-footer-data">
          <a href="javascript:zE.activate();" title="Support Live Chat"><img src="<?php echo $mediaUrl; ?>live_chat.png" alt="Support Live Chat" /></a>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  require(['jquery', 'domReady!'], function($){
    $(document).ready(function ($) {
      zE.hide();
     });

  });
</script>
