//  @screen__xxs: 320px;
//  @screen__xs: 480px;
//  @screen__s: 640px;
//  @screen__m: 768px;
//  @screen__l: 1024px;
//  @screen__xl: 1440px;

@onepagecheckout_1_column: 100%;
@onepagecheckout_2_columns: 48%;
@onepagecheckout_3_columns: 33%;
@_column_box_shadow_hover: 0px 0px 10px 10px rgba(68,68,68,0.6);
@_radius_radio: 50%;
@_bgr_default: #222;
@_color_default: #eceff1;

.checkout-step() {
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    padding: 0 15px 15px;
    width: @onepagecheckout_2_columns;
    border: 1px solid @border-color__base;
}

.onepage-click-wave-0 () {
    width: 15px;
    height: 15px;
    opacity: 0.35;
    position: relative;
}

.onepage-click-wave-100 () {
    width: 250px;
    height: 250px;
    margin-left: -120px;
    margin-top: -120px;
    opacity: 0.0;
}
.onepage-title-before () {
    background-color: @_bgr_default;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: @_radius_radio;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    color: @_color_default;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    @-webkit-keyframes onepage-click-wave {
        0% {.onepage-click-wave-0}
        100% {.onepage-click-wave-100}
    }
    @-moz-keyframes onepage-click-wave {
        0% {.onepage-click-wave-0}
        100% {.onepage-click-wave-100}
    }
    @-o-keyframes onepage-click-wave {
        0% {.onepage-click-wave-0}
        100% {.onepage-click-wave-100}
    }
    @keyframes onepage-click-wave {
        0% {.onepage-click-wave-0}
        100% {.onepage-click-wave-100}
    }
    body.checkout-index-index .nav-sections{
    	display: block;
    }
    .rokanthemes-onepagecheckout-full.checkout-index-index{
        .nav-sections{
            display: block;
        }
        .nav-toggle
        {
            display: block;
        }
    }
    .rokanthemes-onepagecheckout {
        font-size: 14px;
        .field-error,
        .messages{
            font-size: 12px;
            margin-top: 0;
            *{
                 font-size: 12px;
            }
        }
        .page-title-wrapper{
            margin-top: 30px;
            span{
                padding-bottom: 0 !important;
                margin-bottom: 0 !important;
            }
        }
        .label{
            font-weight: 500 !important;
        }
        input:not([type]), input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number],
        input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color], select{
            height: 42px;
            border-color: #888;
            margin-bottom: 10px;
            border-radius: 7px;
        }
        input[type=checkbox]{
            float: left;
            margin-right: 5px;
            margin-top: 0;
        }
        .step-title {
            &:before {
                .onepage-title-before;
            }
        }
        .authentication-wrapper{
            margin-top: 0;
            margin-bottom: 15px;
            text-align: right;
            width: 100%;
            margin-left: auto;
            float: none;
            display: none;
        }
        .opc-block-summary {
            background-color: transparent;
            padding: 0;
            font-size: 14px;
            span.title {
              border: 1px solid #ebebeb;
              margin: 0 !important;
              border-bottom: 0;
            }
            .product-item .price{
                font-size: 14px;
                font-weight: 500;
            }
            .table-totals {
                .mark{
                    font-weight: 300;
                    color: #222;
                    padding: 15px 0 15px 5px;

                    .label{
                    	font-size: 14px;
        					    color: #222;
        					    font-weight: 500 !important;
                    }

                    span.title {
                      font-size: inherit;
                      font-weight: 500;
                      border: 0;
                    }
                }
                .price{
                    color: #222;
                    font-weight: 500;
                }
                .label{
                        color: #222;
                }
                .totals {
                    .amount{
                        font-weight: 500;
                        padding-right: 10px;
                    }
                }

                .totals.shipping {
                  .mark {
                    padding-bottom: 40px;
                  }
                }
                .grand.totals{
                    font-size: 16px;

                    .mark,
                    .amount {
                      padding: 13px 0 10px 0;
                      border-top: 1px solid #dedede;
                      border-bottom: 1px solid #dedede;
                    }
                    .mark {
                      padding-left: 5px;
                    }
                    .amount {
                      padding-right: 10px;
                    }

                    strong {
                        font-weight: 300;
                    }
                }
            }
            .mark .value{
                color: #222;
                font-weight: 500;
                font-style: italic;
            }
        }
        #shipping,
        #opc-shipping_method,
        #payment,
        #opc-sidebar{
            .step-title,
            .opc-block-summary > .title{
                background: #fff;
                color: #253237;
                font-weight: 500;
                font-size: 14px;
                text-transform: none;
                    margin-bottom: 15px;
                padding: 8px 0 8px 40px;
                margin: 0 -15px;
                &:after{
                    display: none;
                }
                &:before{
                    position: absolute;
                    left: 15px;
                    top: 3px;
                    font-family: fontawesome;
                    font-size: 15px;
                    font-weight: 400;
                    border-radius: 0;
                    background-color: transparent;
                    color: #222;
                    width: auto;
                    height: auto;
                    display: inline-block;
                }
            }
            .discount-code {
              #discount-form {
                .payment-option-inner {
                  input{
                      height: 35px;
                      border-radius: 7px;
                      font-size: 12px;
                      border-color: #222222;

                      @media (max-width: 767px) {
                        border-color: #888;
                        border-radius: 3px;
                      }

                      &:placeorder {
                        text-align: center;
                      }
                   }
                }
              }
            }
            .checkout-step;
            .fieldset > .field{
                margin: 5px 0 5px;
            }
            .label,
            .fieldset > .field:not(.choice) > .label {
                margin: 0 0 8px;
                display: block;
                width: auto;
                padding: 2px 0 0;
                color: #222;
                &:after{
                	font-size: 14px;
                }
            }
            .fieldset > .field:not(.choice) > .control {
                width: 100%;
            }
            border: 1px solid #ebebeb !important;
        }
        #shipping-new-address-form {
            .street {
                .additional {
                  text-align: left;

                    .label {
                        position: static;
                        width: auto;
                        height: auto;
                        text-align: left;
                    }
                }
            }

            .field {
              &.choice {
                text-align: left;
              }
            }
        }
        #shipping{
            .step-title{
                &:before{
                    content: "\f015";
                }
            }
            .form-login{
                margin-bottom: 0;
                .create-account{
                    input[type="checkbox"]{
                        vertical-align: middle;
                    }
                }

                .control {
                  &._with-tooltip {
                    .field-tooltip {
                      display: none;
                    }
                    span.note {
                      display: flex;

                      span {
                        line-height: 1.2;
                      }
                    }
                  }
                }
            }
            .form-shipping-address{
                margin-top: 0;

                .control {
                  &._with-tooltip {
                    .field-tooltip {
                      display: none;
                    }
                  }
                }

                .fieldset {
                  &.address {
                    .field.col-mp {
                      .label {
                        &:after {
                          color: #222;
                        }
                      }
                    }
                  }
                }
            }
        }
        #payment{
            .step-title{
                &:before{
                    content: "\f283";
                }
            }
        }
        #opc-shipping_method{
            .step-title{
            	margin-bottom: 1.5rem;

              .field-tooltip {
                left: 170px;
                top: 8px;

                .field-tooltip-content {
                  @media (max-width: 1023px) {
                    right: 0;
                  }

                  &:before,
                  &:after {
                    @media (max-width: 1023px) {
                      right: 140px;
                    }
                  }
                }
              }
                &:before{
                    content: "\f0d1";
                }
            }
        }
        .opc-wrapper {
            width: @onepagecheckout_1_column;
            padding-right: 0;
            #shipping {
                float: left;

                .global-btn {
                  width: 100%;

                  @media (max-width: 1024px) {
                    font-size: 10px;
                  }
                }
                #checkout-step-shipping {
                    .shipping-address-item {
                        width: @onepagecheckout_1_column;
                        border: 0;
                        padding: 10px;
                        &::before {
                            width: 0;
                        }
                        &:after{
                            display: none;
                        }
                    }
                    .not-selected-item {
                        cursor: pointer;
                    }
                }

            }
            #opc-shipping_method {
                float: right;
                margin-left: 4%;

                div[name$=".rokanthemes_opc_shipping_delivery_date"] {
                    margin: 28px 0 5px;
                    .label {
                        margin: 0 0 8px;
                        display: inline-block;
                    }
                }
                div[name$=".rokanthemes_opc_shipping_delivery_comment"] {
                    margin-bottom: 20px;
                    .label {
                        margin: 0 0 8px;
                        display: inline-block;
                    }
                }
                #checkout-step-shipping_method {
                    margin-bottom: 0;
                    #checkout-shipping-method-load {
                        .table-checkout-shipping-method {
                            width: @onepagecheckout_1_column;
                            min-width: 290px;
                            border: 0;
                            border-collapse: collapse;

                            tr.row {
                              padding: 10px 0px 30px 0;
                              display: inline-block;
                              border-bottom: 1px solid #ebebeb;
                              margin: 0;
                              width: 100%;

                              &:first-child {
                                padding-top: 0;
                              }
                              &:last-child {
                                border: 0;
                                padding-bottom: 0;
                              }
                              .col {
                                border: 0;

                                &.col-method {

                                  .custom-radio {
                                    padding-left: 40px;
                                    padding-top: 3px;

                                    .label {
                                      &:before {
                                        @media (min-width: 1025px) {
                                          width: 14px;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                        }
                    }
                    #shipping-method-buttons-container {
                        display: none;
                    }
                }
            }
            #payment {
                float: right;
                margin-top: 25px;

                .step-content {
                  .form.payments {
                    .fieldset {
                      @media (max-width: 767px) {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
                input[type="radio"] {
                    position: relative;
                    float: left;
                    top: -5px;
                    margin-right: 5px;
                }
                #co-payment-form {
                    .step-title {

                        .field-tooltip {
                          left: 170px;
                          top: 8px;

                          .field-tooltip-content {
                            @media (max-width: 1023px) {
                              right: 0;
                            }

                            &:before,
                            &:after {
                              @media (max-width: 1023px) {
                                right: 140px;
                              }
                            }
                          }
                        }
                    }
                    .onepage-delivery {
                        margin-top: 20px;
                    }
                }
                #checkout-payment-method-load {
                    .payment-methods {
                        margin: auto;
                        .payment-group {
                            &:not(:first-child) {
                                .step-title {
                                    font-size: 18px;
                                    font-weight: unset;
                                }
                            }
                            .checkout-billing-address {
                                margin-top: 30px;
                                .actions-toolbar {
                                    margin-top: 30px;
                                }
                                .billing-address-same-as-shipping-block{
                                  margin: 0 auto 10px;
                                  display: flex;
                                  align-items: baseline;
                                  width: 90%;
                                }

                                .billing-new-address-form {
                                  .control {
                                    &._with-tooltip {
                                      .field-tooltip {
                                        display: none;
                                      }
                                    }
                                  }
                                }
                            }
                            .payment-method {
                              border: 1px solid #888;
                              border-radius: 7px;
                              margin-bottom: 20px;

                              /* Base for label styling */
                              [type="radio"]:not(:checked),
                              [type="radio"]:checked {
                                position: absolute;
                                left: -9999px;
                              }
                              [type="radio"]:not(:checked) + label,
                              [type="radio"]:checked + label {
                                position: relative;
                                margin: 0;
                                cursor: pointer;
                                width: 100%;
                                text-align: left;

                                @media (min-width: 768px) and (max-width: 1024px) {
                                  padding-left: 10px;
                                }

                                span {
                                  font-weight: 600;
                                  text-transform: uppercase;
                                  text-align: center;
                                  display: inherit;
                                  margin: 8px 0 0;

                                  @media (max-width: 767px) {
                                    font-size: 12px;
                                  }
                                }
                              }

                              /* checkbox aspect */
                              [type="radio"]:not(:checked) + label:before,
                              [type="radio"]:checked + label:before {
                                content: '';
                                position: absolute;
                                right: 18px;
                                top: 7px;
                                width: 1.35em;
                                height: 1.35em;
                                border: 9px solid #0176fa;
                                background: #0176fa;
                                border-radius: @_radius_radio;
                                box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
                              }
                              /* checked mark aspect */
                              [type="radio"]:not(:checked) + label:after,
                              [type="radio"]:checked + label:after {
                                content: "\f00c";
                                font-family: 'FontAwesome';
                                position: absolute;
                                right: 1.6em;
                                top: 12px;
                                font-size: 1em;
                                line-height: 0.8;
                                color: #fff;
                                transition: all .2s;
                              }
                              /* checked mark aspect changes */
                              [type="radio"]:not(:checked) + label:before {
                                visibility: hidden;
                              }
                              [type="radio"]:checked + label:before {
                                visibility: visible;
                              }
                              [type="radio"]:not(:checked) + label:after {
                                opacity: 0;
                                transform: scale(0);
                              }
                              [type="radio"]:checked + label:after {
                                opacity: 1;
                                transform: scale(1);
                              }
                              /* disabled checkbox */
                              [type="radio"]:disabled:not(:checked) + label:before,
                              [type="radio"]:disabled:checked + label:before {
                                box-shadow: none;
                                border-color: #bbb;
                                background-color: #ddd;
                              }
                              [type="radio"]:disabled:checked + label:after {
                                color: #999;
                              }
                              [type="radio"]:disabled + label {
                                color: #aaa;
                              }

                              /* hover style just for information */
                              label:hover:before {
                                border: 9px solid #4778d9!important;
                              }

                                .payment-method-title {
                                    align-items: center;
                                    border: 0;
                                    display: flex;
                                    padding: 15px 0;

                                    &-img {
                                      max-width: 100px;
                                      padding-left: 15px;
                                      float: left;

                                      @media (max-width: 1024px) {
                                        max-width: 100px;
                                      }
                                    }

                                    .label {
                                      span {
                                        @media (max-width: 1024px) {
                                          display: block;
                                          margin: 10px 0;
                                        }
                                      }
                                    }
                                }
                                .payment-method-content {
                                    padding: 0 15px;
                                    .action.primary, .box-tocart .action.instant-purchase, .multicheckout .action.primary {
                                        display: none;
                                    }
                                    .actions-toolbar {
                                        margin-bottom: 5px;
                                    }

                                    .form {
                                      .field.cvv {
                                        ._with-tooltip {
                                          .field-tooltip {
                                            left: 60px;
                                            right: auto;
                                          }
                                        }
                                      }
                                    }
                                }

                                &.payment-method-paypal {
                                  .payment-method-title {
                                    .label {

                                      &:before {
                                        top: 3px;
                                      }

                                      &:after {
                                        top: 8px;
                                      }

                                      span {
                                        margin: 4px 0 0;
                                      }
                                    }
                                  }
                                }
                            }
                        }
                    }
                }
            }
            .payment-virtual {
                margin-top: 0 !important;
                width: 100% !important;
                #checkout-payment-method-load {
                    .payment-methods {
                    }
                }
            }

            .form-login {
              @media (max-width: 767px) {
                border: 0;
              }
            }
        }
        #opc-sidebar {
            float: right;
            width: @onepagecheckout_1_column;
            margin-top: 30px;
            padding: 0 !important;
            border: 0 !important;
            .opc-block-summary > .title{
                &:before{
                    content: "\f03a";
                    top: 8px;
                }
            }
            .label {
                margin: 0 10px 8px 0;
                display: inline-block;
                font-weight: 300 !important;
            }
            > .field {
                margin: 10px 0;
                display: none;
            }
            .items-in-cart{
                margin-bottom: 20px;
                border: 1px solid #ebebeb;
                border-top: 0;
                padding: 0 15px 15px;

                > .title {
                  border-top: 1px solid;
                  border-color: #ebebeb;
                  padding: 15px 40px 15px 0;

                  &:after {
                    content: "";
                  }
                }
            }
            .table-totals {
              background-color: #f5f5f5;
              padding: 15px 15px 25px 15px;

              .table-caption {
                display: inline-block !important;
                clip: auto;
                width: auto;
                height: auto;
                font-size: 18px;
                font-weight: 600;
                color: #222;
                margin-bottom: 20px;
                position: static;
                text-transform: uppercase;
                padding-top: 10px;
              }
            }
            .minicart-items{
                .product-item{
                    .product.options{
                        .toggle{
                            margin-bottom: 5px;
                        }
                    }
                    .item-options{
                        .label{
                            margin-right: 5px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .opc-block-summary {
                .product-image-container{
                    width: auto !important;
                    max-width: 80px;
                    margin-top: 40px;
                }
                .product-item-details {
                    .product-item-name{
                        a{
                            font-size: 15px;
                            &:not(:hover){
                                color: #222;
                            }
                        }
                    }
                    input.qty {
                        max-width: 20px;
                        text-align: center;
                    }
                }

            }
            .discount-code {
                margin: 35px 0 15px 0;
                #discount-form {
                    width: 94%;
                    margin: auto;

                    @media (min-width: 640px) and (max-width: 1023px) {
                      margin: auto auto 30px;
                    }
                    &:after,
                    &:before{
                        content: '';
                        display: table;
                        clear: both;
                    }
                    .payment-option-inner {
                        width: 75%;
                        display: inline-block;
                        float: left;
                        padding-right: 10px;
                    }
                    .actions-toolbar {
                        float: left;
                        width: 25%;
                        .action {
                          font-size: 12px;
                          border-radius: 7px;
                          padding: 11px;
                          background-color: #f5f5f5;
                          color: #222;
                          font-weight: 500;
                          width: 100%;

                          @media (max-width: 767px) {
                            border-radius: 3px;
                          }
                        }
                    }
                }
            }
            .actions-toolbar {
              width: 94%;
              margin: 0 auto;
                > .primary {
                    width: @onepagecheckout_1_column;
                    > .btn-placeorder {
                        padding: 30px 17px;
                        margin: 0;
                        width: @onepagecheckout_1_column;
                        border-radius: 7px;
                        font-size: 26px;
                        font-weight: 600;
                        color: #fff;

                        @media (max-width: 767px) {
                          border-radius: 3px;
                        }
                    }
                }
            }
            .footer.links{
                margin-top: 10px;
                padding-left: 0;
                list-style: none;
            }
        }
        .table-checkout-shipping-method tbody tr{
            &:first-child {
                td{
                    border-bottom: 0;
                }
            }
            &:not(:last-child){
                 td{
                    border-bottom: 1px solid #ebebeb;
                }
            }
             &:last-child {
                td{
                    border-bottom: 1px solid #ebebeb;
                }
            }
            td{
                border-color: #ebebeb;
            }
        }
        .ui_tpicker_hour_slider, .ui_tpicker_minute_slider {
            width: 100%!important;
        }
        .column.main .opc-block-summary .product-item{
            border-color: #ebebeb;
            padding: 10px 0;
            border-top: 0;

            &:not(:first-child) {
              margin-top: 10px;
            }

            .product {
              .product-item-name {
                margin: 0 0 20px;
                text-transform: uppercase;
              }
            }

            .product-item-details {
              .product-item-inner {
                .product-item-name-block {
                  padding-left: 10px;

                  .checkout-prop {
                    margin-bottom: 7px;
                    color: #222;

                    .checkout-val {
                      font-weight: 600;
                      padding-left: 10px;
                    }
                  }
                  .details-qty {
                    margin-top: 25px;
                    .label {
                      text-transform: uppercase;
                      font-size: 14px;
                      font-weight: 300 !important;

                      &:after {
                        content: "";
                      }
                    }

                    .input-text.qty {
                      border: 0;
                      padding: 0;
                      width: 100%;
                      height: 20px;
                      line-height: 20px;
                    }

                    .qty-button {
                      border: 1px solid #222;
                      max-width: 60px;
                      margin: 0 auto;
                      border-radius: 5px;
                      height: 30px;
                      width: 100%;
                      line-height: 30px;

                      .decrease,
                      .increase {
                        margin: 0;
                        padding: 8px 0;
                        display: inline;
                        width: 100%;
                        height: auto;

                        &:before {
                          display: none;
                        }
                      }
                    }

                    .action.delete {
                      margin-top: 3px;
                      margin-left: 7px;

                      &:before {
                        content: "\f014";
                        color: #222;
                        opacity: 0.8;
                      }
                    }
                  }
                }
                // .subtotal {
                //   @media (max-width: 767px) {
                //     display: none;
                //   }
                // }
              }
            }
        }
        .column.main .block .title strong{
            font-size: 14px;
            font-weight: 500;
		    color: #222;
		    margin-top: 5px;
		    display: inline-block;
        padding-left: 15px;
		    &:after{
		    	top: 21px;
		    }
        }
        span {
            &.qty-button {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
            }

            &.increase, &.decrease{
                position: relative;
                display: block;
                width: 8px;
                height: 8px;
                cursor: pointer;

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    border: 5px solid transparent;
                }
            }

            &.increase {
                margin-bottom: 4px;

                &:before {
                    border-bottom: 5px solid #000;
                }
            }

            &.decrease {
                margin-top: 4px;

                &:before {
                    border-top: 5px solid #000;
                }
            }
        }

        #paypay-in-context-button {
            &.disable {
                opacity: 0.4;
                cursor: default;
                pointer-events: none;
            }
        }
        .page-wrapper{
            .page-title-wrapper{
                position: relative;
                width: 100%;
                height: auto;
                margin-bottom: @indent__base;
            }
        }
    }
}

//
//  Mobile
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .rokanthemes-onepagecheckout {
        .opc-wrapper {
            #shipping {
                width: @onepagecheckout_1_column;
            }
            #opc-shipping_method {
                overflow-x: auto;
                overflow-y: hidden;
                width: @onepagecheckout_1_column;
                margin-top: 25px;
                #checkout-step-shipping_method {
                    #checkout-shipping-method-load {
                        .table-checkout-shipping-method {
                            min-width: unset;
                        }
                    }
                }
            }
            #payment {
                overflow-x: auto;
                overflow-y: hidden;
                width: @onepagecheckout_1_column;
                padding-bottom: 0;
                #checkout-payment-method-load {
                    .step-title {
                        border: 0;
                    }
                    .checkout-billing-address {
                        .billing-address-same-as-shipping-block {
                            label {
                              span {
                                font-size: 12px;
                              }
                            }
                        }
                    }
                }
            }
        }

        #opc-sidebar {
            .discount-code {
                #discount-form {
                    width: 94%;
                }
            }
        }
        .create-account {
            margin-bottom: 0;
            .pass {
                float: left;
                width: 48%;
                margin-right: 4%;
                margin-bottom: 0;
            }
            .confirm-pass {
                float: left;
                width: 48%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .rokanthemes-onepagecheckout {
        .create-account {
            .pass {
                float: none;
                width: 100%;
                margin-bottom: 20px;
            }
            .confirm-pass {
                float: none;
                width: 100%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-estimated-wrapper{
        .estimated-block{
            font-weight: 500;
            color: #222
        }
        .minicart-wrapper .action.showcart{
                background: transparent;
                padding: 0;
                border: 0;
            &:before{
                color: #333;
                display: inline-block;
                font-family: "Ionicons";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: "\f110";
                font-size: 30px;
            }
            .counter.qty{
                border-radius: @_radius_radio;
                background: #4fb68d;
                min-width: 24px;
                margin: 0;
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

@media (min-width: 1025px) {
  .rokanthemes-onepagecheckout {
      .opc-wrapper {
          width: 66.66%;
          padding-right: 30px;
      }
      #opc-sidebar {
          width: @onepagecheckout_3_columns;
          margin-top: 0;
      }
  }
}
// .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
//
// }
