#search_mini_form {
    position: relative
}

#search_mini_form.loading:after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    background: url(../images/ajax-loader.gif) center center;
    background-repeat: no-repeat;
	margin-top: -16px;
}

#search_mini_form.loading .mgs-instant-search-dropdown {
    display: none
}

#search_mini_form .mgs-instant-search-dropdown {
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    right: 15px;
    left: 15px;
}
.post-item-shortdescription {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.6em;
  line-height: 1.3em;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper {
    background-color: #ffffff;
    padding: 0 10px 10px;
    max-height: calc(~'100vh - 220px');
    overflow-x: hidden;
    overflow-y: auto;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .products {
    margin: 0
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items {
    margin: 0;
    padding-top: 10px
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-info {
    display: table;
    max-width: 100%;
    padding-bottom: 30px;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-photo {
    display: table-cell;
    vertical-align: top;
    width: 80px;
    padding: 0 10px 0 0
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-photo img {
    max-width: 100%;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details {
    vertical-align: top;
    display: table-cell;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-reviews-summary.empty {
    display: none
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box {
    display: block;
    margin: 0
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box .price-container {
    font-size: 15px
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box .price-container .price {
    font-size: 15px;
    line-height: 20px
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box .price-from,
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box .price-to {
    display: inline-block
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item-details .product-info-price .price-box .price-label {
    display: none
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .product-items .product-item:last-child {
    border-bottom: none
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .categories .category-item {
    margin: 0;
    line-height: 30px;
    border-bottom: 1px solid #dadada
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .categories .category-item:last-child {
    border-bottom: none
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .pages .items {
    display: block
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .pages .page-item {
    display: block;
    margin: 0;
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .pages .page-item:last-child {
    border-bottom: none
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-items {
    padding-top: 10px;
    padding-bottom: 10px;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info {
    display: table-row
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item + .post-item {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info .post-item-photo {
    display: table-cell;
    vertical-align: top;
    width: 80px;
    padding: 0 10px 0 0
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info .post-item-photo img {
    max-width: 100%;
}

#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info .post-item-details {
    display: table-cell;
    vertical-align: top
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info .post-item-details .post-item-name a {
    font-weight: 600;
    color: #000;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .posts-list .post-item-info .post-item-details .post-item-name a:hover {
    color: #56cfe1;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .title {
    margin: 0 -10px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #dadada
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .title > span {
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
#search_mini_form .mgs-instant-search-dropdown .mgs-instant-autocomplete-wrapper .title .see-all {
    float: right
}

.mgs-instant-search-type-page .toolbar {
    position: relative
}

.mgs-instant-search-type-page .toolbar .limiter {
    display: block
}

.mgs-instant-search-type-page .toolbar .pages {
    display: none
}

.mgs-instant-search-type-page .wrapper ~ .toolbar .toolbar-amount,
.mgs-instant-search-type-page .wrapper ~ .toolbar .limiter {
    display: none
}

.mgs-instant-search-type-page .wrapper ~ .toolbar .pages {
    display: block;
    text-align: right
}

.mgs-instant-search-type-page .wrapper ~ .toolbar .pages .pages-item-next {
    margin-right: 0
}

.mgs-instant-search .message.info {
    margin: 0 0 20px
}

.mgs-instant-search .block-title {
    margin-bottom: 20px !important;
    background-color: #dadada;
    padding: 0 20px
}

.mgs-instant-search .block-title h4 {
    line-height: 40px;
    margin: 0;
    display: inline-block
}

.mgs-instant-search .block-title .view-more {
    float: right
}

.mgs-instant-search .block-title .view-more a {
    line-height: 40px
}

.mgs-instant-search .products-grid .product-item .product-item-info {
    width: 100%
}

.mgs-instant-search .categories.wrapper,
.mgs-instant-search-type-page .categories.wrapper,
.mgs-instant-search .pages.wrapper,
.mgs-instant-search-type-page .pages.wrapper,
.mgs-instant-search .posts.wrapper,
.mgs-instant-search-type-page .posts.wrapper {
    margin: 30px 0 20px
}

.mgs-instant-search .wrapper:not(.products) .items .item.post,
.mgs-instant-search-type-page .wrapper:not(.products) .items .item.post {
    margin-bottom: 20px
}

.mgs-instant-search .wrapper:not(.products) .items .item strong,
.mgs-instant-search-type-page .wrapper:not(.products) .items .item strong {
    line-height: 30px;
    display: block
}

.mgs-instant-search .wrapper:not(.products) .pages.items,
.mgs-instant-search-type-page .wrapper:not(.products) .pages.items {
    display: block;
    white-space: inherit
}

.mgs-instant-search .wrapper:not(.products) .pages strong.page,
.mgs-instant-search-type-page .wrapper:not(.products) .pages strong.page {
    background: none;
    padding: 0;
    font-size: 1.4rem
}

.search-open .header .search-form .form-search {
    opacity: 1;
    visibility: visible;
}
.header .search-form.not-full .form-search .form.minisearch .input-text {
    border-bottom: 2px solid #000;
}
.not-full #search_mini_form .mgs-instant-search-dropdown {
    margin-top: 0;
    right: 0;
    box-shadow: 2px 3px 6px 0px #ddd;
    left: 0;
}
@media (max-width: 900px) {
    .mgs-instant-search .wrapper:not(.products) .items .item,
    .mgs-instant-search-type-page .wrapper:not(.products) .items .item {
        width: 33.33%
    }
}

@media (max-width: 767px) {
    .mgs-instant-search .wrapper:not(.products) .items .item,
    .mgs-instant-search-type-page .wrapper:not(.products) .items .item {
        width: 50%
    }
}

@media (max-width: 320px) {
    .mgs-instant-search .wrapper:not(.products) .items .item,
    .mgs-instant-search-type-page .wrapper:not(.products) .items .item {
        width: 100%
    }
}
.mgs-instant-autocomplete-wrapper .no-result {
    padding: 10px 0 0;
    font-style: italic;
}
.search.results.mgs-instant-search .wrapper + .block-title {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
.search.results.mgs-instant-search .block-title {
    background: none;
    padding: 0;
}
.search.results.mgs-instant-search .block-title h4 {
    position: relative;
    color: #000;
    line-height: 24px;
    text-transform: uppercase;
}
.search.results.mgs-instant-search .post-item-description {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.2em;
    line-height: 1.3em;
}
.search.results.mgs-instant-search .post-image-wrapper img {
    max-width: 100%;
}
.search.results.mgs-instant-search a {
    color: #000;
}
.search.results.mgs-instant-search a:hover {
    color: #56cfe1;
}
.search.results.mgs-instant-search .post-item-link {
    color: #000;
    font-size: 16px;
    display: block;
    padding-top: 8px;
}
