<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$image_url = $block->getImageUrl();

$image_url = $block->getUrl('pub/media/catalog').'product'.$_product->getImage();
$media_url = $this->getUrl('pub/media');
$childs = $block->getChilds();
$attributes = $_product->getAttributes();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$colorHashes = ($block->getData('colorHashes')) ? $block->getData('colorHashes') : []; 
$configAttributes = $block->getData('configAttributes');
?>
<?php	
	$attribute_string = $_product->getResource()->getAttribute('device_compatibility')->getFrontend()->getValue($_product);	
	$values = array_map('trim', explode(',', $attribute_string));	
	?>	


<?php
$first_sku = 0;
$first_barcode = 0;
if ($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {
	$_children = $_product->getTypeInstance()->getUsedProducts($_product);
	foreach ($_children as $child) {
		$first_sku = $child->getSku();
		$first_barcode = $child->getBarcodeEan();
		break;
	}
	$productAttributeOptions = $_product->getTypeInstance()->getConfigurableAttributesAsArray($_product);
} else {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
	$first_sku = $_product->getSku();
	$first_barcode = $product->getBarcodeEan();
}
$pid = $_product->getEntityId();
$attributes = $_product->getCustomAttributes();
$i = 1;
$not_display = ["User Interface", "Special Price", "Special Price From Date", "Cost", "Manufacturer's Suggested Retail Price", "Product Translated", "National Retailer", "Search Weight", "Video", "Description", "Short Description", "Meta Title", "Meta Keywords", "Meta Description", "Base", "Small", "Thumbnail", "Categories", "Display Product Options In", "required_options", "has_options", "Display Actual Price", "URL Key", "Allow Gift Message", "Tax Class", "Swatch", "New", "Sale", "Distributor", "Reseller", "Featured Image", "Connection Guide", "Is Featured Product", "Length", "Barcode (EAN)", "Is featured Product Solutions", "Product Solutions featured name", "Product Soltuions Fetured Product Discription", "EOL alternate", "EOL", "For Sale", "Show view details button on category page", "Product weight", "Output Type", "Usage", "Resolution Type", "Series ", "Is Featured?", "Dock Type", "Power ", "Input Type", 'Pdf Content 2', 'Pdf Content 1', 'trending', 'url_path', 'Best Seller'];?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">
			@font-face {
				font-family: "Gotham-Medium";
				src: url("<?php echo $media_url.'/fonts/default/Gotham-Medium.eot'; ?>");
				src: url("<?php echo $media_url.'/fonts/default/Gotham-Medium.woff'; ?>") format("woff"),
				url("<?php echo $media_url.'/fonts/default/Gotham-Medium.otf'; ?>") format("opentype"),
				url("<?php echo $media_url.'/fonts/default/Gotham-Medium.svg#filename'; ?>") format("svg");
			}
            @page {
                margin: 100px 0px;
            }
            body {
            	font-size: 13px;
				font-family: 'Gotham-Medium', Arial, sans-serif;
				font-weight:normal;
				font-style:normal;
            }
            header {
                position: fixed;
                top: -100px;
                left: 0px;
                right: 0px;
                height: 90px;
                background-color: #F8BE39;
                color: black;
                text-align: left;
                line-height: 10px;
            }
            span {
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                height: 101px;
                background-color: white;
                color: black;
                text-align: left;
                line-height: 15px;
            }

            footer {
                position: fixed;
                bottom: -100px;
                left: 0px;
                right: 0px;
                height: 40px;
                background-color: #F8BE39;
                color: black;
                text-align: right;
                line-height: 35px;
                padding-right: 10px;
                padding-bottom: 10px;
                
            }
            main {
                color: black;
                margin-top:120px;
            }
            #logo {
                vertical-align: middle;
                display: block;
                padding-left: 35px;
                padding-top: 40px
            }
            #logo img {
                display: block;
                margin: 0 auto;
            }
            ul li:first-child {
            	
            }
            tr th, tr td {

            }
            .pTag p{ margin:5px; }
            .additional-attributes-wrapper table, .label {
            	text-align: left !important;
            }
        </style>
    </head>
    <body>
        <!-- Define header and footer blocks before your content -->
        <header>
            <div id="logo">
                <img src="<?php echo $block->getData('logoSrc'); ?>" />
            </div>
        </header>
        <span style="border-bottom: 1px solid black;">
            <div style="width:25%;padding-left: 35px;float: left;">
                <h5>
                <?php echo $_product->getName(); ?>
                </h5>
            </div>
            <div style="padding-right: 35px;float: right;font-size: 10px !important;line-height: 15px;">
                <ul>
					<?php
					foreach ($childs as $key => $value) {
						if($value){
							echo "<li>". $value ." - ". $key . '</li>';	
						}else{
							echo "<li>". $key . '</li>';
						}
					}
					?>
                
				<?php if(count($values) && $attribute_string !='') {?>
						<div style="padding-bottom: 7px;padding-top: 7px;">Compatibility</div>
						<?php 
						if(in_array('Apple', $values)){
						?>
							<img src="<?php echo  $block->getUrl().'pub/media/compatibility_icons/1.png'; ?>" alt="Apple" width="15px" />
						<?php  }?>
						<?php 
						if(in_array('Chromebook', $values)){
						?>
							<img src="<?php echo  $block->getUrl().'pub/media/compatibility_icons/2.png'; ?>" alt="Chromebook" width="15px" />
						<?php  }?>
						<?php 
						if(in_array('Microsoft', $values)){
						?>
							<img  src="<?php echo  $block->getUrl().'pub/media/compatibility_icons/3.png'; ?>" alt="Microsoft" width="15px" />
						<?php  }?>
					
				<?php } ?>
				</ul>
            </div>
        </span>


        <footer>
            www.alogic.co
        </footer>

        <!-- Wrap the content of your PDF inside a main tag -->
        <main>
        	<div style="page-break-after: always;padding-left: 35px;border:0px solid red;width: 90%;">
        		<div style="width: 100%;" class="pTag">
                <?php 
				// echo $_product->getPdfContent2();
				 echo $_product->getResource()->getAttribute('pdf_content1')->getFrontend()->getValue($_product);
                ?>
                </div>
                <div style="float: left;width: 50%;vertical-align: middle;padding-top:20px;">
                	<img width="90%" src="<?php echo $image_url; ?>" />
                </div>	
                <div style="float: right;width: 50%;padding-top:20px;" class="pTag">
                	<p>
						<?php 						
							echo $_product->getResource()->getAttribute('pdf_content2')->getFrontend()->getValue($_product);
						?>		
                	</p>	
                </div>	
            </div>
            <p style="page-break-after: never;">
				<div class="additional-attributes-wrapper table-wrapper">
					<table class="data table additional-attributes" id="product-attribute-specs-table" style="text-align: left; padding-top: 100px;padding-left: 35px;">
						<tbody>
							<tr>
								<th class="col label" scope="row">
								    Part No.
								</th>
								<td class="col data" data-th="Part No.">
								    <?php echo $first_sku; ?>
								</td>
							</tr>
							<?php
							foreach ($attributes as $attribute) {
								?>
							 <?php

								$attLabel = $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel();

								if (!in_array($attLabel, $not_display)) {	

									if ($pid == 2507 || $pid == 3659 && $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_product) == 'Commercial') {
									} else {
										if ($_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel() == 'Intelligent Charging') {
											?>
							                             <?php

											if ($_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_product) != 'No') {?>
							<tr>
							<th class="col label" scope="row">
							    <?php echo $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel(); ?>
							</th>
							<td class="col data" data-th="<?php echo $block->escapeHtml(__($_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel())) ?>">
							    <?php echo $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_product); ?>
							</td>
							</tr>



							                            <?php }?>
							                        <?php } else {
											?>
							                            <?php if ($_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_product) != "") {?>
							            <?php if (substr($attribute->getAttributeCode(), 0, 4) == 'bttn' || $attribute->getAttributeCode() == 'coming_soon') {
												continue;
											}
												?>

							<tr>
							<th class="col label" scope="row">
							    <?php echo $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel(); ?>
							</th>
							<td class="col data" data-th="<?php echo $block->escapeHtml(__($_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getLabel())) ?>">
							    <?php echo $_product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend()->getValue($_product); ?>
							</td>
							</tr>

							                                <?php }?>
							                        <?php }?>

							                <?php }}
								$i++;?> 
							                <?php }?>
							                 <?php if ($_product->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE && $first_barcode) {?>
							                <?php if (!empty($first_barcode)) {?>
							<tr>
							<th class="col label" scope="row">
							    Barcode (EAN)
							</th>
							<td class="col data" data-th="Barcode (EAN)">
							    <?php echo $first_barcode; ?>
							</td>
							</tr>


							                <?php }?>
							            <?php } else {?>

							                <?php if (!empty($_product->getBarcodeEan())) {?>
							<tr>
							<th class="col label" scope="row">
							    Barcode (EAN)
							</th>
							<td class="col data" data-th="Barcode (EAN)">
							    <?php echo $_product->getBarcodeEan(); ?>
							</td>
							</tr>



						                <?php }?>
						            <?php }?>
						            <?php 
						            	if(count($configAttributes) > 1) { 
							            	foreach($configAttributes as $configAttributeKey => $configAttributeValue){ ?>
												<tr>
													<th class="col label" scope="row">
													<?php echo $configAttributeKey; ?>
													</th>
													<td class="col data" data-th="Barcode (EAN)">
													<?php echo implode(',', array_keys(array_flip(explode(',', $configAttributeValue)))); ?>
													</td>
												</tr>						            		
							            	<?php } ?>
											
						            	<?php } ?>
						</tbody>
					</table>
				</div>
			</p>
        </main>
    </body>
</html>