<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_ShippingTracking
 * @copyright   Copyright (c) 2018 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<!-- <div class="page-title-wrapper" style="background-image: url('http://13.211.188.253/media/cms/hero/image/product-support-banner.jpg');">

</div> -->
<div class="block block-shippingtracking">
    <div class="container">
      <div class="block-content" aria-labelledby="block-shippingtracking-heading">
          <div class="order-titles">
            <h3><?= __('Enter the tracking number from your order receipt to see its status.') ?></h3>
            <a href="javascript:;">More about order tracking & delivery.</a>
          </div>
          <form class="form form-shippingtracking"
                action="<?= $block->getSearchUrl(); ?>"
                method="post"
                id="shippingtracking-form"
                data-mage-init='{"validation":{}}'>
              <?= $block->getBlockHtml('formkey') ?>
              <fieldset class="fieldset shippingtracking" data-hasrequired="<?= __('* Required Fields') ?>">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="field order required">
                          <label class="label" for="order"><span><?= __('Order number') ?></span></label>
                          <div class="control">
                              <input name="shippingtracking[order]" id="order" type="text" class="input-text required" title="<?= __('Order Number') ?>"/>
                              <span class="sub-text hide">You’ll find this on your order receipt.</span>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field info required">
                          <label for="info" class="label"><span><?= __('Phone number or email') ?></span></label>
                          <div class="control">
                              <input name="shippingtracking[info]" id="info" type="text" class="input-text required" title="<?= __('Phone number or email') ?>"/>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="actions-toolbar">
                      <div class="primary">
                          <button type="submit" class="action shippingtracking btn btn-primary" name="send_order_info" id="send_order_info">
                              <span><?= __('Track Order') ?></span>
                          </button>
                      </div>
                  </div>
                  <div class="field terms">
                    <a href="/terms-conditions/" title="Terms & conditions">Terms & Conditions</a>
                  </div>
              </fieldset>
          </form>
      </div>
    </div>
</div>
