<?php

//$collection = $block->getAttachmentCollection();
$items = $block->getDownloadCollection();
$_product = $block->getProduct();
$inputs = explode(',', $_product->getInput());
$outputs = explode(',', $_product->getOutput());
$drivers = [];
$manuals = [];
$zip = [];
$specsheets = [];
foreach ($items as $key => $value) {
	if(in_array($key, ['download_mac_driver_link', 'download_windows_driver_link'])){
		$drivers[$key] = $value;
	}
	if(in_array($key, ['download_product_manual'])){
		$manuals[$key] = $value;
	}
	if(in_array($key, ['download_driver_zip'])){
		$zip[$key] = $value;
	}
	if(in_array($key, ['download_specsheet','download_specsheet_2'])){
		$specsheets[$key] = $value;
	}
}

/*echo "<pre>";
foreach ($_product->getData() as $key => $value) {
	echo $key;
	print_r($value);
}*/

$thumbnail = $this->getProductImageUrl();
?>

      <div class="product-detail-infomation-sticky-parent download-driver">
        <div class="container">
          <div class="row">
          	<h3 class="download-driver-title"><?php echo $_product->getName(); ?></h3>
            <div class="col-xs-12 col-md-offset-2 col-md-8">
              <div class="product-detail-media">
                <div class="media-img">
                	<img src="<?php echo $thumbnail; ?>" class="img-responsive" alt="Product Thumbnail images" />
                </div>
								<div class="download-driver-id">
									<strong>Product ID:</strong> <?php echo $_product->getSku(); ?>
								</div>
              </div>
							<div class="btn-wrapper">
          			<a href="<?php echo $_product->getProductUrl()?>" class="btn btn-primary">Go to product page</a>
          			<a href="<?php echo $this->getUrl('productregistration')?>" class="btn btn-primary">Register your product</a>
          		</div>
            </div>
          </div>

					<div class="download-area">
						<div class="row">
							<div class="col-sm-4 download-area-col">
								<div class="download-area-data">
									<h4 class="download-area-data-title">Drivers</h4>

									<?php
									foreach ($drivers as $key => $driver) { ?>
									    <?php if($driver){?>
											<div class="drivers-row">
												<a class="drivers-row-link" href="<?php echo $driver; ?>">
													<p class="drivers-row-title">

														<?php if($key == 'download_windows_driver_link') {
															echo "Windows Driver";
														}elseif($key == 'download_mac_driver_link'){
															echo "MAC OSX USB Drivers";
														}
														?>

													</p>
													<i class="fa fa-download"></i>
												</a>
											</div>
									    <?php } ?>
								    <?php } ?>
								</div>
							</div><!-- End download-area-data column -->
							<div class="col-sm-4 download-area-col">
								<div class="download-area-data">
									<h4 class="download-area-data-title">User Manuals</h4>

									<?php
									foreach ($manuals as $key => $manual) { ?>
									    <?php if($manual){?>
											<div class="drivers-row">
												<a class="drivers-row-link" href="<?php echo $manual; ?>">
													<p class="drivers-row-title">

													Download pdf

													</p>
													<i class="fa fa-download"></i>
												</a>
											</div>
									    <?php } ?>
								    <?php } ?>
								</div>
							</div><!-- End download-area-data column -->
						<!--	<div class="col-sm-4 download-area-col">
								<div class="download-area-data">
									<h4 class="download-area-data-title">Connection Guide</h4>

									<?php if($_product->getConnectionGuide()){?>
									<div class="drivers-row">
											<?php  $_attributeValueConGuide = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($_product, $_product->getConnectionGuide(), 'connection_guide');
										?>
										<a class="drivers-row-link" href="<?php echo $_attributeValueConGuide; ?>">
											<p class="drivers-row-title">Download pdf</p>
											<i class="fa fa-download"></i>
										</a>
									</div>
								<?php } ?>
								</div>
							</div> End download-area-data column -->
							<div class="col-sm-4 download-area-col">
								<div class="download-area-data">
									<h4 class="download-area-data-title">Specsheet</h4>
									<?php if($_product->getDownloadSpecsheet()){?>
									<div class="drivers-row">
										<a class="drivers-row-link" href="<?php echo $_product->getDownloadSpecsheet(); ?>">
											<p class="drivers-row-title">Download Specsheet</p>
											<i class="fa fa-download"></i>
										</a>
									</div><!-- End drivers-row -->
								<?php } ?>
								</div>
							</div><!-- End download-area-data column -->
						</div>
					</div><!-- End download-area -->
        </div>
      </div>
