<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php $_order = $block->getOrder(); ?>
<?php $var = $block->getVarModel();?>
<?php $items = $block->getItems();?>
<?php
$items = $block->getItems();
$itemCount = count($items);
$columnCount = 2;
if ($itemCount == 1) {
    $columnCount = 1;
} elseif ($itemCount % 3 == 0 || $itemCount > 2) {
    $columnCount = 3;
}
$i = 1;
?>
<table
    width="100%"
    style="width:100% !important;"
    cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td style="font-size: 15px; line-height: 26px; color: #707582;">

            <table width="100%" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;width:100% !important;" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="font-size: 15px; line-height: 26px; color: #707582;" >

                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>

                            <?php foreach ($items as $item) : ?>
                                <?php $item->setData('column_number', $i); ?>
                                <td valign="top" width="<?php echo (int)((100 - ($columnCount * 3 - 3)) / $columnCount);?>%">
                                    <?php echo $block->getItemHtml($item); ?>
                                </td>

                                <?php if ($i == $columnCount) : ?>
                                <?php $i = 1; ?>
                                </tr>
                                <tr>
                                <?php else: ?>
                                    <td width="3%"></td>
                                    <?php $i++; ?>
                                <?php endif; ?>

                             <?php endforeach; ?>

                            <tr/>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="15"><div style="font-size: 0; height: 0;">&nbsp;</div></td>
                </tr>
            </table>

        </td>
    </tr>
</table>