/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
a{
    outline: none!important;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 0px;
    vertical-align: top;
    border-top: 0;
}

#email a {
    text-decoration: underline;
}
#email .block-action a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #000;
}

h4 {
    padding-top: 10px;
}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

#email p {
    font-size: unset;
    line-height: unset;
    padding-top: unset;
}

#email body {
    font-family: unset;
}

#email h1, #email .h1, #email h2, #email .h2, #email h3, #email .h3 {
    margin-top: unset;
    margin-bottom: unset;
}

#email h2 {
    color: unset;
}

#email h4 {
    padding-top: unset;
}


/* Colors */
.bg-success {
    background-color: #10cfbd;
}

/*buttons*/
.btn {
    background-color: #ffffff;
    background-image: none !important;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    box-shadow: none;
    color: #626262;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-feature-settings: "kern";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 21px;
    margin-bottom: 0;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    text-align: center;
    text-shadow: none;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
    vertical-align: middle;
}

.btn:disabled {
    background-color: #e6e6e6 !important;
    color: #626262;
    border: 1px solid #f0f0f0;
}

.btn span.glyphicon {
    font-size: 10px;
}

.btn-success,
.btn-success:focus {
    background-color: #10cfbd;
    border-color: #10cfbd;
    color: #ffffff;
}

.btn-success.active,
.btn-success:active,
.btn-success.active:focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open .dropdown-toggle.btn-success {
    background-color: #0da899;
    border-color: #0da899;
    color: #ffffff;
}

.btn-success.hover,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    background-color: #40d9ca;
    border-color: #40d9ca;
    color: #ffffff;
}

.btn-complete, .btn-complete:focus {
    background-color: #48b0f7;
    border-color: #48b0f7;
    color: #ffffff;
}
.btn-complete.active,
.btn-complete:active,
.btn-complete.active:focus,
.btn-complete:active:focus,
.btn-complete:active:hover,
.open .dropdown-toggle.btn-complete {
    background-color: #3a8fc8;
    border-color: #3a8fc8;
    color: #ffffff;
}
.btn-complete.hover,
.btn-complete:hover,
.open .dropdown-toggle.btn-complete {
    background-color: #6dc0f9;
    border-color: #6dc0f9;
    color: #ffffff;
}
.btn-complete.active:hover {
    background: none repeat scroll 0 0 #3e97d4;
    border-color: #3e97d4;
}

.btn-default,
.btn-default:focus {
    background-color: #ffffff;
    border-color: #f0f0f0;
    color: #5e5e5e;
}
.btn-default.active,
.btn-default:active,
.btn-default.active:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background-color: #f0f0f0;
    border-color: #e6e6e6;
    color: #2c2c2c;
}

.btn-default.hover, .btn-default:hover {
    background-color: #fafafa;
    border-color: rgba(98, 98, 98, 0.27);
    color: #1a1a1a;
}
.btn-default.active:hover {
    background: none repeat scroll 0 0 #f0f0f0;
}
.btn-cons {
    margin-right: 5px;
    min-width: 120px;
}

.btn-danger, .btn-danger:focus {
    background-color: #f55753;
    border-color: #f55753;
    color: #ffffff;
}
.btn-danger.active,
.btn-danger:active,
.btn-danger.active:focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open .dropdown-toggle.btn-danger {
    background-color: #c64643;
    border-color: #c64643;
    color: #ffffff;
}
.btn-danger.hover,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    background-color: #f77975;
    border-color: #f77975;
    color: #ffffff;
}
.btn-danger.active:hover {
    background: none repeat scroll 0 0 #d34b47;
    border-color: #d34b47;
}
.btn-warning, .btn-warning:focus {
    background-color: #f8d053;
    border-color: #f8d053;
    color: #ffffff;
}
.btn-warning.active, .btn-warning:active, .btn-warning.active:focus, .btn-warning:active:focus, .btn-warning:active:hover, .open .dropdown-toggle.btn-warning {
    background-color: #c9a843;
    border-color: #c9a843;
    color: #ffffff;
}
.btn-warning.hover, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
    background-color: #f9d975;
    border-color: #f9d975;
    color: #ffffff;
}
.btn-warning.active:hover {
    background: none repeat scroll 0 0 #d5b347;
    border-color: #d5b347;
}

/* sidebar */


.sidebar {
    background: #2b303b;
    z-index: 5;
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
}

.sidebar .actions {
    position: absolute;
    bottom: 10px;
    width: 160px;
    margin: 0 20px;
}

.sidebar .actions .option  {
    color: #788195;
    padding: 0 0 20px 0;

}
.sidebar .actions .option #switch_apply_to_all,
.sidebar .actions .option #switch_auto_save {
    clear: both;
    position: relative;
    left: auto;
    right: 0;
    top: 0;
    display: inline-block;
    float: right;

}
.sidebar .actions .btn {
    margin: 0 0 10px;
    width: 100%;
}

.sidebar .actions .btn.save {
    background-color: #68c0b0;
    border-color: #68c0b0;
    color: #ffffff;
}

#page-wrapper {
    margin: 0 0 0 490px;
}

/* MENU */

.sidebar nav {
    background: none;
    padding: 30px 0 0 0;

}
.sidebar nav li {
    width: 100%;

}
.sidebar nav li a:focus,
.sidebar nav li a:active,
.sidebar nav li a:hover{
    background: none;
    border: 0;
    outline: none;
}
.sidebar nav li a.active,
.sidebar nav li a.active span.menu-icon.glyphicon,
.sidebar nav li.active > a,
.sidebar nav li.active > a span.menu-icon.glyphicon,
.sidebar nav li a:hover,
.sidebar nav li a:hover span.menu-icon.glyphicon {
    color: #ffffff;
}
.sidebar nav li a{
    line-height: 42px;
    height: auto;
    display: inline-block;
    padding: 6px 3px 6px 20px;
    font-size: 14px;
    color: #788195;
    width: 100%;

}
.sidebar nav .nav-second-level {
    background: #21252d;
    box-sizing: border-box;

    height: auto;
    overflow: hidden;
}

.sidebar nav li .nav-second-level li.first a {
    padding-top: 15px;
}

.sidebar nav li .nav-second-level li.last a {
    padding-bottom: 15px;
}

.sidebar nav li .nav-second-level li a {
    line-height: 30px;
}

.sidebar nav li span.menu-icon.glyphicon {
    background: none repeat scroll 0 0 #21252d;
    color: #788195;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    float: left;
    margin: 0 10px 0 0;
}

.sidebar nav .nav-second-level span.menu-icon.glyphicon {
    font-size: 12px;
    width: 30px;
    height: 30px;
    background: #2b303b;
    line-height: 30px;
    margin: 0 15px 0 5px;
}
.sidebar nav li.last .nav-second-level li a {
    padding-bottom: 0;

}

.sidebar nav li a span.next-level.glyphicon {
    float: right;
    height: auto;
    text-shadow: none;
    transition: all 0.12s ease 0s;
    background: none;
    font-size: 10px;
    display: inline-block;
    line-height: 40px;
    padding: 0 20px 0 0;

}
.sidebar nav li.active a span.next-level.glyphicon.glyphicon-chevron-right:before {
    content: "\e114";
}


/* TOOL panel */

.tools {
    z-index: 4;
}

.tools {
    background-color: #2d3446 !important;
    position: absolute;
    left: 200px;
    top: 0;
    width: 290px;
}

.tools-container {
    padding: 20px;
}

.scroll-wrapper {
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin-left: 0px;
}

.tools .tools-container .title,
.tools .tools-container .option {
    padding: 14px 0 30px;
    color: #a2a2a2;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.tools .tools-container .option span.mteditor-option-title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
    opacity: 0.5;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.tools .tools-container .option {
    text-align: left;
    position: relative;
    border-bottom: 1px solid #4d586c;
    padding: 14px 0 15px;
    margin: 0 0 30px;
}


.tools .tools-container .mteditor-option-container {
    text-align: left;
    position: relative;
    border-top: 1px solid #4d586c;
    padding: 20px 0 5px;
    margin: 10px 0 0;
    height: auto;
    overflow: hidden;
}

.tools .tools-container .mteditor-option-container label{
    float: left;
    display: inline-block;
    margin: 0 10px 15px 0;
    line-height: 23px;
    font-weight: normal;
    width: 45px;

}

.tools .tools-container .mteditor-option-container input[type="text"].long {
    width: 175px;
    margin-right: 0;
}

.tools .tools-container .mteditor-option-container label.last,
.tools .tools-container .mteditor-option-container input[type="text"].last {
    margin-bottom: 0;
}

.tools .tools-container .mteditor-option-container input[type="text"] {
    width: 50px;
    float: left;
    margin: 0 20px 15px 0;
    border: 0 none;
    border-radius: 3px;
    font-size: 10px;
    height: 24px;
    line-height: 12px;
    padding: 5px 7px;
}
.tools .tools-container .mteditor-option-container input[type="file"] {
    margin: 0 0 5px 0;
}

.tools.edit-style,
.tools.edit-image {
    left: -110px;
}

.tools .block-list {
    padding: 0;
}

.tools .block-list table {
    margin: 0 0 19px;
}

#switch,
#switch_apply_to_all,
#switch_auto_save {
    width: 50px;
    height: 22px;
    border-radius: 14px;
    cursor: pointer;
    left: 185px;
    position: absolute;
    top: 14px;

}

#switch_thumb_apply_to_all,
#switch_thumb_auto_save,
#switch_thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #ffffff;

}

#switch_apply_to_all.active,
#switch_auto_save.active,
#switch.active{
    background: #48b0f7;
}

#switch_apply_to_all.inactive,
#switch_auto_save.inactive,
#switch.inactive{
     background: #a2a2a2;
}

#switch_apply_to_all #switch_thumb_apply_to_all.inactive,
#switch_auto_save #switch_thumb_auto_save.inactive,
#switch #switch_thumb.inactive {
    left: 2px;
}

#switch_apply_to_all #switch_thumb_apply_to_all.active,
#switch_auto_save #switch_thumb_auto_save.active,
#switch #switch_thumb.active {
    right: 2px;
    background-image: url(Magetrend_Email::images/mteditor/check.png);
    background-position: center center;
    background-repeat: no-repeat;

}



#draggable {
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#draggable table {
    width: auto;

}

#editor_wrapper {
    width: 100%;
    min-width: 1250px !important;
    background: #f1f1f1;
    overflow: hidden;
    position: relative;
}

#page-wrapper {
    height: auto;
    overflow: hidden;
    background: #f1f1f1;

}

/* CONTENT */
#email {
    width: 100%;
    background-color: transparent;
    margin: 0 auto ;
    height: auto;
    position: relative;
    max-width: 100%;
}

#email *[data-block-content] {
    position: relative;
}

#email .block-placeholder,
#email .ui-sortable-placeholder {
    background-color: #ffffff;
    visibility: visible !important;
    height: 120px;
    width: 600px;
}

#email table.block-placeholder,
#email table.ui-sortable-placeholder {
    background: url(Magetrend_Email::images/mteditor/placeholder_drop.png) no-repeat center center #ffffff;
    visibility: visible;

    border-bottom: 3px solid #02a9a2 !important;
    height: 220px !important;
    width: 600px !important;
    margin: 0 auto;
}

#email table.block-placeholder {
    background: url(Magetrend_Email::images/mteditor/page_loader.gif) no-repeat center center #ffffff;
}
.drag-here {
    background: #FFFFFF;
    width: 600px;
    line-height: 220px;
    height: 220px;
    text-align: center;
    margin: 50px auto 0;
}

.drag-here span {
    color: #02a9a2;
    margin-right: 5px;
}

#hidden_content {
    display: none;
}



.edit-style li[id] {
    padding-bottom: 30px;
}

.edit-style ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.edit-style ul li {
    clear: both;
    height: auto;
    overflow: hidden;
}

.edit-style ul li ul li select,
.edit-style ul li ul li input {
    width: 65px;
    height: 24px;
    float: right;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 7px;
    line-height: 12px;
}

.edit-style ul li ul li select {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.edit-style ul li span {
    color: #a2a2a2;

    letter-spacing: 0.03em;
    opacity: 0.5;
    display: inline-block;
    float: left;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.edit-style ul li ul li span {
    color: #48b0f7;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.empty-style-panel,
.empty-image-panel {
    display: none;
    z-index: 15;
    width: 100%;
    height: 100%;
    padding: 300px 0 0 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background: #2d3446;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
}
#block-action {
    display: none;
}
.block-action {
    display: none;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 5;
}

.block-action ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.block-action ul li {
    background-color: #2b303b;
    opacity: 1;
    margin-bottom: 4px;
}

.block-action ul li a {
    font-size: 16px;
    color: #ffffff;
    padding: 7px;
    display: inline-block;
}

.block-action .text-icon {
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
}
.block-action a:focus,
.block-action a:visited,
.block-action a:hover {
    text-decoration: none;
}
table[data-block] {
    position: relative;
}

#editor_helper {
    display: none;
    position: absolute;
    max-width: 363px;
    width: auto;
    padding: 10px;
    background-color: #21252d;
    z-index: 60;
}



#editor_helper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#editor_helper ul li {
    display: inline-block;
    width: auto;
    padding: 0 5px;
}

#editor_helper ul li a[data-action="html"] {
    line-height: 23px;
}

#editor_helper ul li a {
    color: #ffffff;
    font-size: 18px;
}
#editor_helper ul li a:focus,
#editor_helper ul li a:visited,
#editor_helper ul li a:hover {
    text-decoration: none;
}

#editor_helper ul li a span.text-icon {
    vertical-align: top;
    line-height: 21px;
    font-weight: bold;
    font-size: 18px;
}

#editor_helper ul li a span.text-icon.small {
    vertical-align: top;
    padding: 1px 2px;
    font-weight: normal;
    font-size: 9px;
    border:2px solid #ffffff;
}

.popup-form {
    padding: 40px 40px 0;
    height: auto;
    overflow: hidden;
}

.popup-with-form .popup-actions {
    padding-top: 20px !important;

}

.response-error {
    padding: 20px 40px 0;
    min-height: 20px;
    height: auto;
    overflow: hidden;
    color: #f55753;
    text-align: left;
}

.response-success {
    padding: 20px 40px 0;
    min-height: 20px;
    height: auto;
    overflow: hidden;
    color: #10cfbd;
    text-align: left;
}

/*** FORM ***/
.form-group {
    margin-bottom: 10px;
    float: left;
    text-align: left;
    width: 100%;
    position: relative;
}
.form-group label:not(.error) {
    font-size: 12px;
    text-align: left;
}
.form-group label .help {
    margin-left: 8px;
}
.form-group .help {
    color: rgba(98, 98, 98, 0.55);
    font-size: 12px;
}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    box-shadow: none;
    color: #2c2c2c;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    line-height: normal;
    min-height: 35px;
    outline: 0 none;
    padding: 9px 12px;
    transition: background 0.2s linear 0s;
    vertical-align: middle;
}

.form-control.big-textarea {
    width: 550px;
    height: 350px;
}

label em {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 12px;
    padding: 0 5px 0 0;

}

.form-control:focus {
    background-color: #f0f0f0;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    outline: 0 none !important;
}
.form-control:focus::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}
.form-control::-moz-placeholder {
    color: inherit;
    opacity: 0.33;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: none repeat scroll 0 0 #f8f8f8;
    color: rgba(98, 98, 98, 0.23);
}
.input-sm, .form-horizontal .form-group-sm .form-control {
    font-size: 13px;
    height: 32px;
    min-height: 32px;
    padding: 8px 9px;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
    border-radius: 3px;
    font-size: 18px;
    height: 45px;
    padding: 11px 13px;
}
.input-xlg {
    font-size: 18px;
    height: 51px;
    line-height: 22px;
}

.hidden-template {
    display: none;
}

.mteditor-image-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 270px;
    overflow: hidden;
}

.mteditor-image-list li:hover {
    border: 1px solid #ffffff;
}

.mteditor-image-list li {
    float: left;
    width: 120px;
    height: 90px;
    line-height: 75px;
    padding: 5px 5px 5px 5px;
    margin: 5px 10px 5px 0px;
    text-align: center;
    border: 1px solid #4d586c;
}

.mteditor-image-list li img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.mteditor-panel-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    width: auto;
    height: 100%;
}

.mteditor-panel-container {
    width: 290px;
    height: auto;
    overflow: hidden;
}

.mteditor-content-helper-img {
    box-sizing:border-box;
    outline: dashed 3px #2d3446;
    outline-offset: -3px;
}

#email img {
    cursor: pointer;
}

.mobile {
    background: url(Magetrend_Email::images/mteditor/mobile.png) no-repeat top center;
    padding: 27px 0 0 0;

}

.mobile iframe {
    padding: 0;
    margin: 0;
    border: 0;
}

table {
    box-sizing: content-box !important;
    border-collapse: separate !important;
}

#loading {
    display: none !important;
}

.loading-animation {
    display:block;
    border:0px solid #ccc;
    box-sizing: border-box;
    color: #2d3446;
    background: url(Magetrend_Email::images/mteditor/ajax-loader1.gif) no-repeat center center #ffffff;
    font-weight: bold;
    height: 70px;
    margin: 0 0 20px;
    padding: 67px 0 20px;
    width: 220px;
}

.helper-link input.color {
    width: 65px;
    height: 24px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 7px;
    line-height: 12px;
    display: inline;
}

li.only-text-link {
    vertical-align: top;
}