/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
#esns_background_layer {
    position: absolute;
    z-index: 9998;
    background: url(Magetrend_Email::images/mteditor/popup/esns_dark2.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    display: none;
}


#esns_box_layer {
    background-color: #fff;
    display: inline-block;
    height: auto;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 9999;
}

#esns_box_layer .normal-width {
    width: 371px;
}

#esns_box_close {
    background: url(Magetrend_Email::images/mteditor/popup/close.png) no-repeat center center;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
}


.esns_box_block_1 {
    font-size: 14px;
    padding: 40px 0 0;
    text-align: center;
    width: 100%;
}


.popup-actions {
    width: auto;
    text-align: center;
    padding: 50px 0px 30px;
}
.popup-actions ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.popup-actions ul li {
    display: inline-block;
    padding: 0 10px;
    width: auto;
}

@media only screen and (max-width: 410px) {
    #esns_box_layer {
        width: 95%;
    }

    .esns_box_block_1,
    .esns_box_block_2 {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        margin-left: auto;
        margin-right:  auto;
    }
}
