    
<?php 
//echo $this->getCategoryIds();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$imageHelper = $objectManager->create('\Magento\Catalog\Helper\Image');

$collection  = $this->getProductCollectionByCategories($this->getCategoryIds());

?>
 <?php if($collection->count() > 0){ ?>
<link rel="stylesheet" href="http://13.211.188.253/media/jquery.custom-scrollbar.css" >
<link rel="stylesheet" href="http://13.211.188.253/media/demo_style.css" >
<section class="trending-products">
        <h2 class="heading-title">Trending Products</h2>
        <div class="container js-trending-products">

          <div class="row trend-item">
            <?php foreach ($collection as  $product) { 
              $image = 'http://13.211.188.253/media/catalog/product'.$product->getFeaturedImage();
              $tag = $product->getName();
              ?>
            <div class="col-xs-6 col-sm-4 trend-item-col">
              <div class="trend-items">
                <a href="<?php echo $product->getProductUrl();?>" class="trend-click" title="<?php echo $product->getName(); ?>" target="_blank">
                  <div class="trend-items-img">
                    <img src="<?php echo $image ;?>" alt="<?php echo $product->getName(); ?>" class="img-responsive image-radius">
                  </div>
                  <div class="trend-items-caption">
                    <?php echo $tag;?>
                  </div>
                </a>
              </div>
            </div>
          <?php } ?>
              
          </div><!-- End class trend-item -->
        </div><!-- End class container -->
      </section><!-- End class trending-products -->
      
    <script  type="text/javascript"  src="http://13.211.188.253/media/jquery.custom-scrollbar.min.js"></script>
      <script type="text/javascript">

    
require(['jquery', 'customSlider'], function($){
       
            $('.js-trending-products').customScrollbar({
              skin: "default-skin",
              hScroll: true,
              vScroll: false,
              updateOnWindowResize: true
            });
          
});

</script>
<?php } ?>