<?php
/** @var \Afterpay\Afterpay\Block\Adminhtml\System\Config\Button\LimitUpdate $block */
?>
<div class="afterpay-buttons-container">
    <button id="<?= $block->escapeHtml($block->getHtmlId()) ?>">
        <?= $block->escapeHtml($block->getButtonLabel()); ?>
    </button>
    <div id="limits-spinner">
        <div class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#<?= $block->getHtmlId() ?>": {
            "Afterpay_Afterpay/js/limits": {
                "actionUrl": "<?= $block->escapeUrl($block->getUrl($block->getButtonUrl())) ?>",
                "spinnerId": "#limits-spinner"
            }
        }
    }
</script>
