<?php $helper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $footer = $helper->getStoreConfig('mgstheme/general/footer') ?>
<div class="footer-container">
    <!-- Static block: footer_block_newsletter_top -->
    <div class="footer-newsletter">
        <?php echo $this->getLayout()->createBlock("Magento\Newsletter\Block\Subscribe")->setTemplate("Magento_Newsletter::subscribe_footer.phtml")->toHtml(); ?>
    </div>
    <div class="middle-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-logo">
                    <!-- Static block: footer_contactus -->
                    <div class="copyright-wrapper">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_contactus')->toHtml() ?>
                        <!-- Static block: footer_contactus -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-home shrink-footer">
                    <!-- Static block: footer_block_categories -->
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_popular')->toHtml() ?>
                </div>
                <div class="col-md-3 col-sm-6 footer-bus shrink-footer">
                    <!-- Static block: footer_block_categories -->
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_support')->toHtml() ?>
                </div>
                <div class="col-md-2 col-sm-6 footer-about shrink-footer">
                    <!-- Static block: footer_block_categories -->
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_company')->toHtml() ?>
                </div>
                <div class="col-md-0 col-sm-6 footer-support shrink-footer">
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-follow-mobile')->toHtml() ?>
                    <!-- Static block: footer_block_categories -->                    
                </div>

                <div class="clearfix visible-sm"></div>
            </div>
            <div class="small-footer">
                <div class="row">
                    <div class="small-frow">
                        <div class="col-sm-6 small-frow-col desktop">
                            <address><?php /* @escapeNotVerified */
                                echo $block->getCopyright() ?></address>
                        </div>
                        <div class="col-sm-6 small-frow-col">
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_menu_bottom')->toHtml() ?>
                        </div>
                        <div class="col-sm-6 small-frow-col mobile">
                            <address><?php /* @escapeNotVerified */
                                echo $block->getCopyright() ?></address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    require([
        'jquery',
        'mage/translate',
        'jquery/ui',
        'Magento_Catalog/js/catalog-add-to-cart'
    ], function ($, $t, ui, addcart) {
        "use strict";

        $.ajax({
            url: BASE_URL + '/accounthome/crosssell/index',
            async: false,
            type: 'post',

            beforeSend: function () {
                $('#ajax_loader').show();                
            },
            success: function (res) {                
                if ($('#crosssellmini').length) {
                    $('#crosssellmini').html(res);
                    $('#crosssellmini').find('button.tocart').click(function (event) {
                        event.preventDefault();
                        var tag = $(this).parents('form:first');

                        var data = tag.serializeArray();

                        $.mage.catalogAddToCart.prototype.initAjaxNewAddToCart(tag, 'catalog-add-to-cart-' + $.now(), tag.attr('action'), data);

                    });
                    jQuery('#ajax_loader').hide();
                } else if (window.parent.jQuery('#crosssellmini').length) {
                    window.parent.jQuery('#crosssellmini').html(res);
                    window.parent.jQuery('button.tocart').click(function (event) {
                        event.preventDefault();
                        var tag = $(this).parents('form:first');

                        var data = tag.serializeArray();
                        $.mage.catalogAddToCart.prototype.initAjaxNewAddToCart(tag, 'catalog-add-to-cart-' + $.now(), tag.attr('action'), data);


                    });
                    jQuery('#ajax_loader').hide();
                }


            }
        });


    });
</script>
