<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */


?>
<?php $_product = $block->getProduct(); ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php
$add_cart = true;
if($_product->getTypeId() == 'simple'){
	if($themeHelper->getSalableQty($_product) <= 0){
		$add_cart = false;
	}
}

//echo $_product->isSaleable();
/*echo "<pre>";
print_r($qty);
echo($qty[0]['qty']);*/


?>


<?php $buttonTitle = __('Add To Cart'); ?>
<?php if ($add_cart && $_product->isAvailable()): ?>



	<?php // If is deals product. Show countdown time ?>
	<?php if($_product->getSpecialPrice() && $_product->getSpecialToDate() && $_product->getSpecialFromDate()): ?>

		<?php $dateTimeFormat = \Magento\Framework\Stdlib\DateTime::DATETIME_PHP_FORMAT; ?>
		<?php $now = $themeHelper->getCurrentDateTime(); ?>
		<?php $specialFromDate = date($dateTimeFormat, strtotime($_product->getSpecialFromDate())); ?>
		<?php $specialToDate = date($dateTimeFormat, strtotime($_product->getSpecialToDate())); ?>

		<?php if($specialFromDate <= $now && $specialToDate > $now): ?>
			<div class="product-detail-deals margin-top25">
				<?php
					$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
					$stockItem = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
				?>
				<div class="hurry-text text-uppercase"><?php echo __('Hurry! Only %1 left in stock', $stockItem); ?></div>
				<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Products\Deals')->setProduct($_product)->setTemplate('MGS_Mpanel::products/deals/item.phtml')->toHtml() ?>
			</div>
		<?php endif ?>

	<?php endif ?>
	<?php // End Deals ?>

	<div id="outofstock" class="product-info-stock-sku 111" style="display: none;">
							            <div class="stock unavailable" title="Availability">
            <span>
            	Sold Out
            </span>
        </div>
    							</div>
	<div class="box-tocart">

		<?php echo $block->getChildHtml('', true) ?>


			<?php echo $this->getLayout()
          		->createBlock('Magento\Catalog\Pricing\Render',
                  "product.price.final",
                    [
                        'data' => [
                            'price_render' => 'product.price.render.default',
                            'price_type_code' => 'final_price',
                            'zone' => 'item_view'
                        ]
                   ]
                  )
          ->toHtml();?>


		<div class="fieldset">
				<?php if ($block->shouldRenderQuantity()): ?>
				<div class="field qty">
					<label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
					<div class="control">
						<span class="edit-qty minus" onclick="minusQty('qty')">-</span>
						<input type="number"
								 name="qty"
								 id="qty"
								 maxlength="12"
								 value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
								 title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
								 data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
								 />
								 <span class="edit-qty plus" onclick="plusQty('qty')">+</span>
					</div>
				</div>
				<?php endif; ?>


				<div class="actions">
					<button type="submit"
							title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
							class="action primary tocart"
							id="product-addtocart-button">
						<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
					</button>
					<?php
						$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
						$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
					?>
				</div>
		</div>
		<div class="actions action-add-to">
			<?php if ($themeHelper->getStoreConfig('mpanel/product_details/wishlist') && $this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
				<button type="button" class="action towishlist"
					data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
					data-action="add-to-wishlist"
					title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
						<span class="pe-7s-like"></span>
				</button>
				<script type="text/x-magento-init">
					{
						"body": {
							"addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
						}
					}
				</script>
			<?php endif; ?>

			<?php if($themeHelper->getStoreConfig('mpanel/product_details/compare')): ?>
				<button type="button" class="action tocompare"
					data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>'
					data-role="add-to-links"
					title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
						<span class="pe-7s-graph3"></span>
				</button>
			<?php endif ?>

			<?php if ($block->canEmailToFriend()): ?>
				<button type="button" onclick="setLocation('<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>')"
			   class="action mailto friend" title="<?php /* @escapeNotVerified */ echo __('Send Email to Friend') ?>"><span class="pe-7s-mail"></span></button>
			<?php endif; ?>

			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>

	</div>
<?php else: ?>
		<div  class="product-info-stock-sku 111" >
							            <div class="stock unavailable" title="Availability">
            <span>
            	Sold Out
            </span>
        </div>
    							</div>


<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>

<?php if ($block->shouldRenderQuantity()): ?>
	<script type="text/javascript">
		function plusQty(qtyInput){
			require([
			'jquery'
			], function(jQuery){
				(function($) {
					if($('#'+qtyInput).attr('disabled')!='disabled'){
						qty = $('#'+qtyInput).attr('value');
						qty = parseInt(qty);
						qty++;
						$('#'+qtyInput).val(qty);
					}
				})(jQuery);
			});

		}
		function minusQty(qtyInput){
			require([
			'jquery'
			], function(jQuery){
				(function($) {
					if($('#'+qtyInput).attr('disabled')!='disabled'){
						qty = $('#'+qtyInput).attr('value');
						qty = parseInt(qty);

						if(qty>1){
							qty--;
							$('#'+qtyInput).val(qty);
						}
					}
				})(jQuery);
			});
		}
	</script>
<?php endif; ?>
