<?php $_product = $block->getProduct() ?>
<?php
	$helper = $this->helper('Ecomteck\Core\Helper\Media');
?>
<?php
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeAddAttribute = $block->getAddAttribute();
?>
<?php	
	$attribute_string = $_product->getResource()->getAttribute('device_compatibility')->getFrontend()->getValue($_product);	
	$values = array_map('trim', explode(',', $attribute_string));	
	?>	


<?php if(count($values) && $attribute_string !='') {?>
<div class="product attribute <?php /* @escapeNotVerified */echo $_className ?>">
<?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */echo $_attributeLabel ?></strong><?php endif;?>
<span class="value" <?php /* @escapeNotVerified */echo $_attributeAddAttribute; ?>>			<?php 
				if(in_array('Apple', $values)){
			?>
			<img src="<?php echo  $helper->getMediaUrl('compatibility_icons/1.png'); ?>" alt="Apple" />
			<?php  }?>
			<?php 
				if(in_array('Chromebook', $values)){
			?>
			<img src="<?php echo  $helper->getMediaUrl('compatibility_icons/2.png'); ?>" alt="Chromebook" />
			<?php  }?>
			<?php 
				if(in_array('Microsoft', $values)){
			?>
			<img  src="<?php echo  $helper->getMediaUrl('compatibility_icons/3.png'); ?>" alt="Microsoft" />
			<?php  }?></span>
</div>
<?php }?>
