<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
$specificInfo = $block->getSpecificInformation();
$title = $block->escapeHtml($block->getMethod()->getTitle());

?>
<dl class="payment-method">
    <!-- <dt class="title"><?= /* @noEscape */ $title ?></dt> -->
<?php if ($specificInfo) : ?>
    <dd class="content">
        <table class="data table" width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100% !important; border-spacing:0; border:0;">
            <caption class="table-caption" style="display:none !important;"><?= /* @noEscape */ $title ?></caption>
            <?php foreach ($specificInfo as $label => $value) : if($label == 'Expires') continue; ?>
                <tr colspan="2">
                    <!-- <th scope="row" style="text-align:left;font-weight:bold;font-size:12px;width:50%;padding-top:10px !important;"><?= $block->escapeHtml($label) ?></th> -->
                    <td style="text-align:left;font-weight:200;font-size:16px;width:50%;padding-top:10px !important;">
                        <?= /* @noEscape */ nl2br($block->escapeHtml(implode("\n", $block->getValueAsArray($value, true)))) ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </dd>
<?php endif;?>
</dl>
<?= $block->getChildHtml() ?>
