<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
if (!function_exists('moveElement')) {
    function moveElement(&$array, $a, $b) {
        $out = array_splice($array, $a, 1);
        array_splice($array, $b, 0, $out);
    }
}
$_totals = $block->getTotals();
unset($_totals['tax']);
?>
<?php
    //moveElement($_totals, 2, 1);
?>
<tr>
  <td colspan="3" align="center" style="width:100%;">
    <h3 class="text-center" style="font-weight: 600 !important;color:#262121 !important;margin-bottom: 0px;padding-bottom: 35px !important;margin-top: 45px !important;border-bottom: 1px solid #707070;width:100%;">ORDER TOTAL</h3>
  </td>
</tr>
<?php foreach ($_totals as $_code => $_total) : ?>
    <?php if ($_total->getBlockName()) : ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else : $border = ''; if($_code == 'grand_total_incl') $border = 'border-top: 1px solid #707070;padding-top:10px !important;';?>

    <tr class="<?= $block->escapeHtmlAttr($_code) ?> "scope="row">
        <th <?= /* @noEscape */ $block->getLabelProperties() ?> scope="row" style="text-align:left;font-weight:bold;font-size:16px;width:50%;padding-bottom:10px !important;<?php echo $border; ?>">
            <?php if ($_total->getStrong()) : ?>
                <strong><?= $block->escapeHtml($_total->getLabel()) ?></strong>
            <?php else : ?>
                <?= $block->escapeHtml($_total->getLabel()) ?>
            <?php endif ?>
        </th>
        <td <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr($_total->getLabel()) ?>" style="text-align:right;font-weight:bold;font-size:16px;width:50%;padding-top:10px !important;<?php echo $border; ?>">
            <?php if ($_total->getStrong()) : ?>
                <strong><?= /* @noEscape */ $block->formatValue($_total) ?></strong>
            <?php else : ?>
                <?= /* @noEscape */ $block->formatValue($_total) ?>
            <?php endif?>
        </td>
    </tr>
    <?php endif; ?>
<?php endforeach?>
