<?php $product = $block->getProduct(); ?>
<?php $var = $block->getVarModel(); ?>

<table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate !important;">
    <tr>
        <td class="block-rounded">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="info-img">
                        <a href="<?php echo $product->getProductUrl(); ?>">
                            <img class="info-img" src="<?php /* @escapeNotVerified */ echo $block->getImage(258, 210); ?>" alt="img" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px;">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td style="text-align:left; width:155px">
                                    <a href="<?php echo $product->getProductUrl(); ?>"><span class="header-sm"><?php /* @escapeNotVerified */ echo $product->getName(); ?></span></a><br />
                                </td>
                                <td style="text-align:right; vertical-align: top;">
                                    <strong>
                                        <?php if ($block->getFormatedSpecialPrice()) : ?>
                                            <span style="text-decoration: line-through; font-size: 12px;"><?php echo /* @escapeNotVerified */ $block->getFormatedPrice(); ?></span>
                                            &nbsp;&nbsp;
                                            <?php echo /* @escapeNotVerified */ $block->getFormatedSpecialPrice(); ?>
                                        <?php else : ?>
                                            <?php echo /* @escapeNotVerified */ $block->getFormatedPrice(); ?>
                                        <?php endif; ?>
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px;">
                        <!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<?php echo $product->getProductUrl(); ?>" style="height:45px;v-text-anchor:middle;width:155px;" arcsize="15%" strokecolor="#ffffff" <?php echo $var->getHtmlAttribute('fillcolor', 'product_grid_button_msi_bgolor_'.$block->getItemNumber(), '#ff6f6f'); ?>>
                        <w:anchorlock/>
                        <center <?php echo $var->getHtmlAttribute('style', 'product_grid_text_style_'.$block->getItemNumber(), "color:#ffffff; font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;"); ?> ><?php echo $var->getValue('product_grid_text_'.$block->getItemNumber(), "View Now!", false);?></center>
                        </v:roundrect>
                        <![endif]-->
                        <div style="mso-hide:all;">
                            <a class="mteditor-bgcolor button-width" data-disable-href="1"
                                href="<?php echo $product->getProductUrl(); ?>"
                                <?php echo $var->getHtmlAttribute('bgcolor', 'product_grid_button_msi_bgolor_'.$block->getItemNumber(), '#ff6f6f'); ?>
                                <?php echo $var->getHtmlAttribute('style', 'product_grid_button_'.$block->getItemNumber(), 'background-color:#ff6f6f;border-radius:5px;color:#ffffff;display:inline-block;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;'); ?>
                                class="mteditor-bgcolor button-width" data-disable-href="1">
                                <span
                                    <?php echo $var->getTextEditAttribute('product_grid_text_'.$block->getItemNumber());?>
                                    <?php echo $var->getHtmlAttribute('style', 'product_grid_text_style_'.$block->getItemNumber(), "color:#ffffff; font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;font-weight:regular;"); ?>
                                    class="mteditor-color button-text-color">
                                        <?php echo $var->getValue('product_grid_text_'.$block->getItemNumber(), "View Now!", false);?>
                                 </span>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>