<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var $block \Magento\CatalogSearch\Block\Advanced\Result
 */
/** this changes need for valid apply filters and configuration before search process is started */
$productList = $block->getProductListHtml();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$backUrl = $storeManager->getStore()->getBaseUrl().'docksearch/search/index';
$opsystem = $this->getRequest()->getParam('filter_operating_sys');
/*echo "<pre>";
print_r($opsystem);*/
if(count($opsystem) == 4) {
    $compatibility = 'All';
}elseif (in_array(501,$opsystem) && in_array(502,$opsystem)) {
    $compatibility = 'Apple';
}elseif (in_array(503,$opsystem)) {
    $compatibility = 503;
}elseif (in_array(504,$opsystem)) {
    $compatibility = 504;
}
$backUrl = $this->getUrl('docksearch/search/index', ['compatibility' => $compatibility]);
$count = $block->getSearchModel()->getProductCollection()->addFieldToFilter('attribute_set_id', array('in' => [29, 30, 33]))
			->addAttributeToFilter('type_id', array('eq' => 'simple'))->count();

?>
<?php if ($results = $count) : ?>
    <div class="search found">
        <?php if ($results == 1) : ?>
            <?= /* @noEscape */ __('<strong>%1 item</strong> were found using the following search criteria', $results) ?>
        <?php else : ?>
            <?= /* @noEscape */ __('<strong>%1 items</strong> were found using the following search criteria', $results) ?>
        <?php endif; ?>
    </div>
<?php else : ?>
    <div role="alert" class="message error">
        <div>
            <?= $block->escapeHtml(__('We can\'t find any items matching these search criteria.')) ?> <a href="<?= $backUrl; ?>"><?= $block->escapeHtml(__('Modify your search.')) ?></a>
        </div>
    </div>
<?php endif; ?>

<?php $searchCriterias = $block->getSearchCriterias(); ?>
<div class="search summary">
    <?php foreach (['left', 'right'] as $side) : ?>
        <?php if (!empty($searchCriterias[$side])) : ?>
            <ul class="items">
                <?php foreach ($searchCriterias[$side] as $criteria) : ?>
                    <li class="item"><strong><?= $block->escapeHtml(__($criteria['name'])) ?>:</strong> <?= $block->escapeHtml($criteria['value']) ?></li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<?php if ($count) : ?>
    <div class="message notice">
        <div>
            <?= $block->escapeHtml(__("Don't see what you're looking for?")) ?>
            <a href="<?= $backUrl; ?>"><?= $block->escapeHtml(__('Modify your search.')) ?></a>
        </div>
    </div>
<?php endif; ?>
<?php if ($count) : ?>
    <div class="search results"><?= /* @noEscape */ $productList ?></div>
<?php endif; ?>
<?php $block->getSearchCriterias(); ?>

