<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magento\Sales\Block\Adminhtml\Order\Invoice\View\Items $block */
?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary order-invoice-tables">
        <thead>
            <tr class="headings">
                <th class="col-product"><span><?= $block->escapeHtml(__('Product')) ?></span></th>
                <th class="col-price"><span><?= $block->escapeHtml(__('Item Status')) ?></span></th>
                <th class="col-qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></th>
                <th class="col-price"><span><?= $block->escapeHtml(__('Price (Ex. Tax)')) ?></span></th>
                <th class="col-price"><span><?= $block->escapeHtml(__('Total (Ex. Tax)')) ?></span></th>
<th class="col-price"><span><?= $block->escapeHtml(__('Total Amount (Incl. Discount)')) ?></span></th>
<th class="col-price"><span><?= $block->escapeHtml(__('Tax Percent')) ?></span></th>
<th class="col-price"><span><?= $block->escapeHtml(__('Tax Amount')) ?></span></th>    
<th class="col-price"><span><?= $block->escapeHtml(__('Subtotal (Inc. Tax)')) ?></span></th> 
<th class="col-price"><span><?= $block->escapeHtml(__('Discount Amount')) ?></span></th> 

                
            </tr>
        </thead>
        <?php $_items = $block->getInvoice()->getAllItems() ?>
        <?php $i = 0; foreach ($_items as $_item) : ?>
            <?php if ($_item->getOrderItem()->getParentItem()) :
                continue;
            else :
                $i++;
            endif; ?>
            <tbody class="<?= /* @noEscape */ $i%2 ? 'even' : 'odd' ?>">
                <?= $block->getItemHtml($_item) ?>
                <?= $block->getItemExtraInfoHtml($_item->getOrderItem()) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
