<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
	body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
 
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}



.modal-content p{
    text-align: center;
}
.modal-content .form{
    text-align: center;
}

/* The Close Button */
.close {
	position: absolute;
    right: 7px;
    top: -6px;
    float: none;
    font-size: 28px;
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.title {
	margin: 0;
    text-align: center;
    font-size: 30px;
    width: auto;
}
.block_popup_content{
	text-align: center;
	margin-top: 12px;
}

.close { position: absolute; right: -13px; top: -15px; float: none; font-size: 28px; color: #fff; float: right; font-size: 27px; font-weight: bold; background: #000; border-radius: 100%; height: 30px; width: 30px; line-height: 30px; text-align: center; border: 2px solid #fff; }
.close:hover{color: #fff;}
.block_popup_title{font-size: 22px;}
</style>
<body>
	<!-- Load popup for the enable -->
	<div id="geoip_pupup" class="modal">

		<!-- Popup modal content -->
		<div class="modal-content">
			<!-- <span class="close">&times;</span> -->
			<div class="title">
				<img width="50" src="<?php echo $this->getViewFileUrl('Biztech_Geoip::images/alert.png'); ?>"/>
				<div class="block_popup_title"><?=$this->getTitle()?></div>
			</div>
			<!-- <hr> -->
			<div class="content">
				<div class="block_popup_content">
					<?=$this->getMessage()?>
				</div>
			</div>
			<!-- <hr> -->
		</div>
	</div>
</body>
</html>