<?php
$storeName =  $this->getGeoDetectedStoreName();
?>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
 
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  /*background-color: #e6f7ff;*/
  background: #fff;
  opacity: 1;
  margin: auto;
  /*padding: 20px;*/
  border: 1px solid #888;
  width: 40%;
  padding-bottom: 20px;
}



.modal-content p{
    text-align: center;
}
.modal-content .form{
    text-align: center;
}



/* The Close Button */
.okbtn {
    margin: 0;
    display: inline-block;
    text-align: center;
    width: auto;
  background-color: #cceeff;
  border-width: 1px;
  border-color: #99ddff;
  border-radius: 2px;
  opacity: 90%
}
.okbtn:hover,
.okbtn:focus {
  background-color: #b3e6ff;
  border-color: #66ccff;
  opacity: 100%;
}


/* The Close Button */
.close {
  position: absolute;
    right: 7px;
    top: -6px;
    float: none;
    font-size: 28px;
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*11-09-2020*/

.modal-content .title{padding: 20px;}
.modal-popup3-title{font-size: 24px; /*margin-bottom: 10px;*/ color: #fff;}
.modal-popup3-sub-title{color: #fff;}
.title{background: #3e8bff;}
.content{margin-top: 20px; padding: 20px;}
.popup3-content{margin-top: 10px;}
.close { position: absolute; right: -13px; top: -15px; float: none; font-size: 28px; color: #fff; float: right; font-size: 27px; font-weight: bold; background: #000; border-radius: 100%; height: 30px; width: 30px; line-height: 30px; text-align: center; border: 2px solid #fff; }
.close:hover{color: #fff;}
#okbtn { font-size: 18px; padding: 10px 15px; cursor: pointer; border: 1px solid #4bb3e7; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; box-shadow: none;}
.popup3-content-detail span{font-size: 16px;}
.store_name{color: #62bc01; font-weight: bold;}

</style>
<body>
	<!-- Load popup for the enable -->
	<div id="geoip_pupup" class="modal">

		<!-- Popup modal content -->
		<div class="modal-content">
			<?php if($this->manualstoreSwich()) { ?>
      <span class="close">&times;</span>
      <?php } ?>
			<div class="title">
	          <div class="modal-popup3-title"><?=$this->getTitle();?></div>
	          <div class="modal-popup3-sub-title"></div>
	      	</div>
			<!-- <hr> -->
			<div class="content">
	        	<div class="popup3-content-detail">
		          <span>Geo-Located Store: </span><span class="store_name"><?=ucwords($storeName)?></span>
		          <div class="popup3-content"><?=$this->getMessage();?></div>
		        </div>
	      	</div>
			<!-- <hr> -->
			<form class="form" action="<?php echo $block->getUrl('geoip/index/index') ?>" method="post" id="frm_geoip" >
				<button id="okbtn" class="okbtn" name="okbtn"  type="submit" class="action">
					<span><span><strong><?=$this->getButtonText();?></strong></span></span>
				</button>
			</form>
		</div>
	</div>
	<script>
	// Get the modal
	var modal = document.getElementById("geoip_pupup");

	<?php
    if($this->manualstoreSwich()) { ?>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        window.location.href = "<?php echo $this->redirectBack(); ?>";
        modal.style.display = "none";
    }
  <?php } ?>

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  	if (event.target == modal) {
	    	window.location.href = "<?php echo $this->redirectBack(); ?>";
	    	modal.style.display = "none";
	  	}
	}
	</script>
</body>
</html>