<?php
$storeName =  $this->getGeoDetectedStoreName();
?>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
 
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*opacity: 0.9;*/
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 0px #000;
  -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);
  margin: auto;
  padding: 20px;
  /*border: 1px solid #888;*/
  /*width: 50%;*/
  width: 30%;
}



.modal-content p{
    text-align: center;
}
.modal-content .form{
    text-align: center;
}



/* The Close Button */
.okbtn {
    margin: 0;
    display: inline-block;
    text-align: center;
    width: auto;
  background-color: #cceeff;
  border-width: 1px;
  border-color: #99ddff;
  border-radius: 2px;
  opacity: 90%
}
.okbtn:hover,
.okbtn:focus {
  background-color: #b3e6ff;
  border-color: #66ccff;
  opacity: 100%;
}


/* The Close Button */
.close {
  position: absolute;
    right: 7px;
    top: -6px;
    float: none;
    font-size: 28px;
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.title {
  margin: 0;
    text-align: center;
    font-size: 30px;
    width: auto;
}

/*11-09-2020*/
.close { position: absolute; right: -13px; top: -10px; float: none; font-size: 28px; color: #fff; float: right; font-size: 27px; font-weight: bold; background: #000; border-radius: 100%; height: 30px; width: 30px; line-height: 30px; text-align: center; border: 2px solid #fff; }
.close:hover{color: #fff;}
.modal-content .popup2_main_title_biz{font-size: 22px;}
.modal-content .popup2_subtitle_biz{font-size: 18px; margin-top: 14px;}
.modal-content .popup2-link{text-align: left; text-align: center; margin-bottom: 12px; margin-top: 25px;}
.modal-content #okbtn{font-size: 18px;
padding: 10px 15px; border: none; background: #000; color: #fff; opacity: 90%; cursor: pointer; -webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease; box-shadow: none;}
.modal-content #okbtn:hover{-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);box-shadow: 0 0 6px 1px rgba(0,0,0,0.5); -webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;}
.model_popup2_content{margin-top: 16px; border-top: 1px solid #ddd; padding-top: 20px; }
.model_popup2_content span{font-size: 17px;}
.store_name{color: #005aff; font-weight: bold;}

</style>
<body>
	<!-- Load popup for the enable -->
	<div id="geoip_pupup" class="modal">

		<!-- Popup modal content -->
		<div class="modal-content">
			<?php if($this->manualstoreSwich()) { ?>
      <span class="close">&times;</span>
      <?php } ?>
			<div class="title">
				<div class="popup2_main_title_biz"><?=$this->getTitle();?></div>
				<div class="popup2_subtitle_biz"></div>
			</div>
			<!-- <hr> -->
			<div class="content">
				<div class="model_popup2_content">
					<span>Geo-Located Store: </span><span class="store_name"><?=ucwords($storeName)?></span>
					<div class="popup2-link"><?=$this->getMessage();?></div>
				</div>
			</div>
			<!-- <hr> -->
			<form class="form" action="<?php echo $block->getUrl('geoip/index/index') ?>" method="post" id="frm_geoip" >
				<button id="okbtn" class="okbtn" name="okbtn"  type="submit" class="action">
					<span><span><?=$this->getButtonText();?></span></span>
				</button>
			</form>
		</div>
	</div>
	<script>
	// Get the modal
	var modal = document.getElementById("geoip_pupup");

	<?php
    if($this->manualstoreSwich()) { ?>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        window.location.href = "<?php echo $this->redirectBack(); ?>";
        modal.style.display = "none";
    }
  <?php } ?>

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  	if (event.target == modal) {
	    	window.location.href = "<?php echo $this->redirectBack(); ?>";
	    	modal.style.display = "none";
	  	}
	}
	</script>
</body>
</html>